[2017-10-24 08:07] alvestrand opened #260 "Consider the Reporting API as a stats export mechanism"
The following WICG spec:

https://wicg.github.io/reporting/

defines a way in which a site can ask for reports of certain events to be delivered to an endpoint of their choice.

We might want to consider either this or an extension of this for a mechanism whereby stats can be delivered to an endpoint without having to write polling Javascript in the active page to achieve it.

[2017-10-24 12:10] alvestrand commented on #98
#251 should cover this.

[2017-10-24 12:56] alvestrand opened #263 ""Make tidy" is broken?"
In repo, "make tidy" produces a HTML file that is left aligned, no indent.

"make clean" does not improve the situation.

Since "make tidy" is our main tool to keep consistent formatting of our HTML source, this is bad.

[2017-10-24 13:16] alvestrand commented on #147
#264 filed.

[2017-10-24 14:36] vivienlacourba commented on #263
Fixed in https://github.com/w3c/webrtc-respec-ci/commit/f804919971d1aaae235f81249ccc819f26f076da

FYI `make clean` only removes generated files (in does not clean nor reformat the source document).

[2017-10-24 14:36] #263 closed

[2017-10-24 15:35] alvestrand commented on #101
I tried switching, but it produced a weirdly formatted draft at the webrtc-stats.
May have to change the symlink at index.html to point to webrtc-stats.html.

[2017-10-24 17:14] alvestrand commented on #101
Switched the symlink, switched the branch, reloaded a dozen times, and now it looks correct. Closing.

[2017-10-24 17:14] #101 closed

[2017-10-24 19:10] #147 closed

[2017-10-25 08:56] alvestrand commented on #222
Seems discussion is converging on per-frame timestamp exposure being a matter for https://github.com/alvestrand/webrtc-framelog or its successors (if any).

RTT is already exposed.

Can we close this issue in webrtc-stats?

[2017-10-25 09:01] alvestrand commented on #229
Does this need to be an absolute value of the difference to expected interframe delay, or should it be a sum of delays?
Just adding up the interframe delays will give you a number equal to the time since stream started, which is not terribly useful.
One possibility for freeze detection would be to have a value that summed up the difference between expected (per frameRate) interframe delay and actu

[2017-10-25 09:11] alvestrand commented on #240
With sampled stats, it seems that the counters are most useful because just watching DTX/FEC/bitrate/channels/framelength can miss multiple changes within a polling interval.
Are all these values also exposed as stats? IE it seems a bit strange to have the count of FEC flips without also having a stat for whehter FEC is currently on or off.

[2017-10-25 09:13] ilyanikolaevskiy commented on #229
Sorry, I forgot to post here, but the  metric was updated a little. Now we are reporting a maximum interframe delay over 1 second window. If polled once per second, it gives quite a good measurement of received video stream quality.

[2017-10-25 09:16] alvestrand commented on #230
I do worry about the multiplication of types. In OO, there's a design principle like "don't do with inheritance what you can do with containment".
The code smell associated with that is that when you add new elements, you have to add them to multiple subclasses. So far, there's no sign of that, so this seems to make refactoring sense.
And having it only in the spec and not observable is a Good Thi

[2017-10-25 09:26] alvestrand commented on #231
The spec already contains the verbiage "An RTCMediaStreamTrackStats object represents the stats about one attachment of a MediaStreamTrack to the PeerConnection object for which one calls getStats." - this was written prior to RTPSender/RTPReceiver, and can be said to pre-shadow the concepts.

The replaceTrack() operation does complicate the situation (as usual). If you do replaceTrack(), the chan

[2017-10-25 09:27] alvestrand commented on #241
Assigning to @vr000m since he promised to check it.

[2017-10-25 09:36] alvestrand commented on #246
Hm. One problem here is that the text "from the time the first packet belonging to an audio/video frame enters the jitter buffer" is implementation dependent, and inconsistent with the previous sentence's "from the time it is received". An implementation that places packets into the jitter buffer on arrival, and reassembles the frame within the jitter buffer, will give different results than one t

[2017-10-25 11:15] alvestrand commented on #255
Hm. fractionLost is only defined in the RTCReceivedRTPStreamStats dictionary, which is split further into RTCRemoteInbound and RTCInbound.
The number (calculated according to RFC 3550 section 6.4.1) doesn't make sense for stats, since it contains information about only the last reporting interval - and we have no representation of reporting intervals, and specific advice against doing that form of

[2017-10-25 11:16] alvestrand commented on #98
Closing as dupe of #99

[2017-10-25 11:16] #98 closed

[2017-10-25 11:25] alvestrand commented on #133
The record type sounds fascinating, and probably fit-for-purpose.
You can get an answer to "what's currently coming in" by querying twice and seeing what changed.
Adding a new type of stats value will probably break some generic code that traverses stats values, but you know what they say about omelets.
Please make a proposal using record<USVString, Integer> - seems we can't have integer keys in W

[2017-10-25 11:33] alvestrand commented on #135
I think that on Linux, you can get it using recvmsg(2) on an UDP socket and inspecting the msghdr structure for a TOS byte, which you will have to enable with setsockopt(IP_RECVTOS). But this is from searching stackoverflow, not from writing code, so YMMV.

[2017-10-25 11:56] alvestrand commented on #161
pinging @mounirlamouri again.
This is about the stability of section 4 of the media-playback-quality spec, VideoPlaybackQuality counter definitions.

[2017-10-25 12:15] alvestrand commented on #193
We have totalAudioEnergy defined now, which is computable. Is it possible to define audioLevel in terms of a computation over totalAudioEnergy?

I worry about audioLevel since it's inherently a "windowing" operator - instantaneous audioLevel doesn't make much sense at all. We could leave it implementation-defined, but that will give implementation variance. https://webrtc.github.io/samples/src/con

[2017-10-25 12:41] alvestrand commented on #258
Please add a few more details. Which clock, and skewed in comparision to what?

[2017-10-25 12:50] alvestrand commented on #256
With "record" being suggested in another bug, what about:
enum qualityLimitationReason = {cpu, bandwidth, other}
enum qualityLimitationMethod = {none, framerate, resolution, quality}  // quality = qp value manipulation

... outgoing RTP stream ...
qualityLimitationReason limitationReason;  // current most important reason
qualityLimitationMethod limitationMethod; // current most significant method

[2017-10-25 13:47] alvestrand commented on #254
I think it shouldn't increase when packets are reconstructed based on FEC - that's not a packet-level thing.
I think it should be increased when receiving two copies of a packet (two packets with the same RTP sequence number on the same SSRC - I don't think we can keep track of content of packets) - the reason may be because it's retransmitted, or because it's duplicated in the network.

[2017-10-25 16:41] icydragons commented on #222
I don't quite see how rtt and framelog will get us A/V sync. Can you explain?

[2017-10-25 18:58] henbos commented on #258
In order to calculate end to end delay (#222) one has to estimate the difference between timestamps of the local and remote clocks. The idea was that if this was a component we relied on to calculate e2e delay we should expose that component instead of baking that into some other more higher level stat, and the e2e delay would be something you stats consumer calculated instead.

Estimating the ske

[2017-10-26 01:48] taylor-b commented on #135
That's definitely what [the documentation](http://man7.org/linux/man-pages/man7/ip.7.html) indicates; don't know how I missed that. Ok, so this issue is still valid.

[2017-10-26 03:33] taylor-b commented on #193
Is `audioLevel`'s definition clear enough to answer that? I'm not sure if it's intended to represent the value from the last received packet, or from the last 10ms chunk of audio output, or something else. Chrome's implementation is "maximum sample value from last 10ms chunk of audio", which is almost certainly not the intention...

[2017-10-26 09:36] alvestrand commented on #253
packets lost is defined as # of packets received - # of ticks of the RTP sequence number since start-of-call. packets received is actually not carried in an RR, so it has to be calculated from the # of expected packets and the # of packets lost.
Simple solution: Remove "unsigned" from packetsLost and add a note to the definition that it can be negative if more packets are received than sent.

[2017-10-26 23:38] henbos commented on #246
A frame going out of the jitter buffer does not mean it is played out: there could be a decode error, it could get dropped due to missing playout, or other. This means we can't use "framesDecoded" for video, and we can't use "framesDecoded - framesDropped" because they could get dropped before the jitter buffer.

Should we just make the counters specific to coming out of the jitter buffer to avoid

[2017-10-27 00:08] henbos commented on #193
Can I reassign to you Harald?

[2017-10-27 00:28] henbos commented on #256
Assuming you're not sending lossless vIdeo, it's always going to adjust quality based on whatever bitrate it has available (constantly changing). In that sense it is always "bandwidth limited". Despite quality being important, in terms of "is there adaptation going on", the QP would be meaningless unless you define thresholds, but this might be opening a can of worms.

We thought that if there is

[2017-10-27 00:30] henbos commented on #256
Another important difference between QP and resolution/framerate, I would think, is that resolution/framerate is something you set with constraints/settings, and the other is the end result of other things.

[2017-10-27 01:03] henbos commented on #256
I made an initial PR, excluding change counters for now. Is a change counter only valuable for flip flopping between limited and not limited? I'm hesitant towards increasing the counter up if it changes between "bandwidth" and "cpu" (or "other") in case it walks the line or going back and forth, imagining it is a little limited by both. How fast the counter increases would depend on how aggressive

[2017-10-27 14:16] #253 closed

[2017-10-29 19:22] #244 closed

[2017-10-30 18:39] vr000m commented on #246
That is possibly correct.

This should have been handled by the jitter buffer.

[2017-11-02 05:02] vr000m commented on #255
For the RTCInbound, you are correct, the psuedocode works and we should not expose the fractionLost. However, for consistency with other RTCP RR metrics, we should show it in RTCRemoteInbound. Since we populate RTT and jitter and other metrics from the RTCP RR anyway.

[2017-11-02 15:51] vr000m commented on #255
If we add the RTCP RR values, we should put the last RR timestamp as well.

[2017-11-02 16:02] vr000m commented on #223
closing this, since there are no comments on this.

[2017-11-02 16:02] #223 closed

[2017-11-02 17:31] jan-ivar commented on #231
This would be simpler, and remove the need for [detached](https://w3c.github.io/webrtc-stats/#dom-rtcmediastreamtrackstats-detached), and accumulation of stale stats objects.

This removes the risk of users accidentally relying on stale stats from (detached) objects, when they either forget to filter them out properly, or combine the data incorrectly with the still-live version.

Firefox does not

[2017-11-02 19:29] henbos commented on #223
SGTM I think playoutDelay is misleading, that could be a different stat if need be.

[2017-11-02 19:52] huibk opened #271 "Add stat for inputAudioLevel, before the audio filter"
It could be useful to have a stat the represents the audio level before noise filtering or gain control. Use cases are:
- distinguish silence from missing microphone input from silence due to noise suppression
- determine the level of processing of an audio signal

[2017-11-03 03:43] alvestrand commented on #271
Doodling: This would logically be a stat on the source for a track, not a stat on the track itself, no?

if you have:

getUserMedia(audio, id=foo, volume=1.0) => track1
getUserMedia(audio, id=foo, volume=0.5) => track2

and get an input signal at 0.5 (-6dBov)

then track2 would get 0.25 (-12dBov) and track1 would get 0.5 as "level"; an input stat would get 0.5 for both.

One way of getting "unproc

[2017-11-03 16:25] huibk commented on #271
Good point, getting a second track without processing may achieve the same. Presumably at higher cost though.

[2017-11-06 22:37] dontcallmedom commented on #235
@jan-ivar reported that Mozilla is not convinced with this approach and will come back with an alternative approach

[2017-11-07 05:59] jan-ivar commented on #235
Say you `replaceTrack` to flip between front and back camera:

Every time trackA is removed, it leaves a new `detached` version. Every time it's added back, it creates a fresh track stats object (track stats are per attachment). There's no limit to how many times one can do this in JS. It's not so much the memory, rather `getStats` is already slow, and this might slow it down further over time. On

[2017-11-16 10:45] #257 closed

[2017-11-20 12:20] ssilkin opened #275 "Add per layer stats for SVC"
In case of SVC, when sender can produces multiple spatial/quality layers, we would like to get video stats per layer. Video layer stats should include:
1. Video-related parameters of RTCMediaStreamTrackStats:
`unsigned long       frameWidth;`
`unsigned long       frameHeight;`
`double                   framesPerSecond;`
`unsigned long       framesSent;`
`unsigned long       framesReceived;`
`unsig

[2017-11-20 13:45] alvestrand commented on #275
@pthatcherg the simulcast layers are represented by RTCRtpStreamStats (which have an SSRC). Do you think we need to change the inheritance hierarchy here for SVC layers?

[2017-11-22 14:37] alvestrand commented on #202
TPAC feedback: If we have a citable reference, OR a definition that 2 people can implement interoperaby, then we're OK - it's in. If we don't have either, it's out.

[2017-11-22 14:43] #177 closed

[2017-11-22 14:45] alvestrand commented on #99
Closed by #251

[2017-11-22 14:45] #99 closed

[2017-11-22 14:46] alvestrand commented on #133
TPAC result: Use "record" to implement Taylor's suggestion. @jan-ivar to check something and confirm to bug.

[2017-11-22 14:47] vr000m commented on #133
TPAC17: @jan-ivar could you confirm if records can be used here. Otherwise we will go with Taylor's suggestion.

[2017-11-22 14:47] alvestrand commented on #135
See #133 for details on how to solve.

[2017-11-22 14:48] alvestrand commented on #230
TPAC feedback: Ready to move forward on this.

[2017-11-22 14:49] alvestrand commented on #231
Decision from TPAC: Add "sender" and "receiver" stats, keep "track" for the moment, raise a separate issue about removing "track".

[2017-11-22 14:49] henbos commented on #230
jan-ivar since you're doing #231 do you want to take this on too?

[2017-11-22 14:49] henbos commented on #230
@jan-ivar

[2017-11-22 17:20] icydragons commented on #202
This is a very useful stat for Hangouts. Did the definition from Aug 17 not make the cut?

[2017-11-22 17:30] icydragons commented on #258
This would be the difference in the NTP timestamps from the sender and receiver, calculated by the receiver. Nominally it would be approximately 1/2 the RTT, but the RTT measurement is calculated to provide an instantaneous value, this could be calculated with the understanding that clocks drift rather then jump and can utilize a smoother algorithm. The current RTT measurements are also only valid

[2017-11-22 17:42] icydragons commented on #239
Does this represent the volume setting from the audio device that is playing out the audio sample as well? Users muting their computers and not realizing it is an issue we have discovered.

[2017-11-22 17:44] icydragons commented on #238
I would be in favor of measuring it regardless of if it can be controlled by the application since it provides an indication of the quality of the rest of the audio stream. Also, I do believe the application can turn on or off in band FEC when using opus if it is giving a worse experience.

[2017-11-23 12:48] alvestrand commented on #235
A dead stats object is not large (a few hundred bytes? a kbyte?)
Without "objectDeleted" stats objects, I don't see a way to satisfy the other requirements we have - to account accurately for resources used by objects using a polling interface.

There are other ways we could do this (for instance adding an event handler to the PeerConnection that has a stats object fired at it whenever a component

[2017-11-23 18:32] henbos commented on #202
The definition from Aug 17 did not make it. @hlundin can you (or someone audio) come up with a more precise definition or citable reference? Or is this not making the spec, to be dropped or to be Chrome-specific?

[2017-12-07 22:29] vr000m opened #278 "What happens when a partial keyFrames is received?"
does the keyFramesReceived counter go up?
partialFramesLost counter will definitely go up...

[2017-12-08 09:20] alvestrand commented on #278
We have to decide whether partial lost frames are counted as received.
My vote would be for "no" - it seems silly to count fully lost frames as "received", and counting a multipacket frame as "received" when we have received one useless packet seems wrong too.

So I'd think that we don't increment framesReceived, and don't increment keyFramesReceived.

(Q: When a frame is first partially received

[2017-12-08 09:52] vr000m commented on #278
In https://github.com/w3c/webrtc-stats/pull/268, I made a comment on when these counters go up.

framesReceived are definitely full frames, so they should be counted after repair and reorder has been taken in to account.

so if a keyFrame is partially received, the partialFramesLost goes up.

[2017-12-08 10:13] #246 closed

[2017-12-08 10:15] alvestrand commented on #161
After editors discussion: It seems we can carry our own definitiosn (and be RTP-aligned) rather than referring to the MSE ones.

[2017-12-08 10:20] #248 closed

[2017-12-08 10:21] alvestrand opened #279 "Add TLS version and EC group id to stats"
This is a spin-off from #276.

[2017-12-08 10:21] alvestrand commented on #279
Quoting for @ekr:

Does the group name come from https://www.iana.org/assignments/tls-parameters/tls-parameters.xhtml#tls-parameters-8 ? I suppose that's only applicable for EC cipersuites?
What's the correct reference for the TLS version field? RFC 5246 seems to define only the { 3, 3 } aka TLS 1.2 value - ideally, I'd like to point to somewhere that gives "TLS 1.2" as a string, but as a fallback

[2017-12-08 10:28] alvestrand commented on #275
ping @pthatcherg again for comment.

[2017-12-08 10:35] alvestrand commented on #258
Suggest moving to the "provisional stats" document.
The art of estimating one way delay (which requires either synchronized clocks or estimating the klock skew) has been an unsolved problem for many years; giving a bad value might be worse than giving no value.

[2017-12-08 10:36] henbos commented on #240
Ping @ivocreusen

[2017-12-08 10:38] alvestrand commented on #240
would be good if @ivocreusen could make a PR, so as not to introduce errors in interpretation on the way

[2017-12-08 10:41] alvestrand commented on #229
@ilyanikolaevskiy you didn't answer my previous question (whether it's a stat for deviation from nominal frame spacing or whether it's an absolute value). This also matters when frame rate changes within the call.

[2017-12-08 10:44] ilyanikolaevskiy commented on #229
@alvestrand, I thought it were clear from the comment. New stat is the actual absolute inter-frame delay (not the deviation from nominal).

[2017-12-08 10:44] henbos commented on #222
@icydragons Can you (or someone who works with implementing these stats) write a design doc for this stuff? I suspect we can write PRs for the provisional stats document, but we need the current
design documented to move forward.

[2017-12-08 10:44] vr000m commented on #229
It would be interesting to see sender side interframe delay and the corresponding interframe delay at the receiver, then may be we would be able to compare this.

My main concern is when the frame rates change, and if the sender and receiver have temporal scalability and depending on the structure of the frames a higher frame delay might not matter.

[2017-12-08 10:46] alvestrand commented on #202
Moving this item to the "provisional stats" spec.

[2017-12-08 10:46] #202 closed

[2017-12-08 10:46] henbos commented on #202
https://github.com/henbos/webrtc-provisional-stats

[2017-12-08 10:48] alvestrand commented on #235
@jan-ivar we're waiting for more info here - a convincing case that it is a problem, and a proposed path towards a solution.

[2017-12-08 10:49] alvestrand commented on #239
This is related to the #271 "input audio level" question.

[2017-12-08 11:01] #256 closed

[2017-12-08 11:09] henbos commented on #202
I filed https://github.com/henbos/webrtc-provisional-stats/issues/2

[2017-12-08 12:00] henbos opened #281 ""record<RTCQualityLimitationReason, double> qualityLimitationDurations" has invalid type"
According to WebIDL, https://heycam.github.io/webidl/#idl-record, the record's key must be of type DOMString, USVString, or ByteString.

We're trying to use an enum key type (RTCQualityLimitationReason). Questions:
- Should we use a different type than record?
- Should we use record<DOMString, double> and specify that the key are all the string-values of RTCQualityLimitationReason?
- Should we fil

[2017-12-08 12:00] henbos commented on #281
I landed the hack #280 to get around travis build failing in the meantime!

[2017-12-08 12:44] #131 closed

[2017-12-08 13:00] ekr commented on #279
Given that we are moving towards numeric versions, including draft #s, etc.
maybe just suck it up and use the number?

-Ekr

On Fri, Dec 8, 2017 at 2:21 AM, Harald Alvestrand <notifications@github.com>
wrote:

[2017-12-09 11:53] vr000m commented on #281
We will encounter this problem in the DSCP-related issues as well, #133 #135. Hence, we need a sensible option.

[2017-12-11 20:24] jan-ivar commented on #235
As I mention in https://github.com/w3c/webrtc-stats/pull/262#issuecomment-350810504 I think we should add `getDeletedStats()` methods instead.

[2017-12-13 10:35] henbos commented on #281
I merged #282 so that we have record<DOMString, double> which implementation-wise will work the same as what we intended but I'm not closing this issue until we have decided what to do. If DOMString is the way to go we might want to take a second look to see if we need to clarify the use of enum here.

[2017-12-13 13:06] alvestrand commented on #219
Closed with #266

[2017-12-13 13:06] #219 closed

[2017-12-13 13:08] alvestrand commented on #235
@jan-ivar that is not a convincing case that there is a problem.
I'd like to have a suggested spec for "getDeletedStats()" too - I can't evaluate a method name.

[2017-12-13 13:18] vr000m opened #285 "packetsFailedDecryption is not reported in a RTCP Report"
Hence, this item should also be moved to RTCInboundRTPStreamStats...

[2017-12-13 14:06] #254 closed

[2017-12-13 14:15] henbos commented on #281
Will file a bug on WebIDL

[2017-12-13 14:17] alvestrand commented on #281
It's possible that DOMString is preferable because it allows us to extend the Enum.

[2017-12-13 14:27] alvestrand commented on #258
Will be handled in experimental draft. Closing in this repo for now.

[2017-12-13 14:27] #258 closed

[2017-12-13 14:29] vr000m commented on #161
related to #278

[2017-12-13 14:30] alvestrand commented on #279
so what is the number, and where do I point to for reference?

[2017-12-13 14:42] ekr commented on #279
It's the version number. In TLS 1.2 and below it goes in
ServerHello.version. In TLS 1.3 and later it goes in
ServerHello.supported_versions.

-Ekr

On Wed, Dec 13, 2017 at 6:30 AM, Harald Alvestrand <notifications@github.com

[2017-12-13 14:47] #255 closed

[2017-12-13 14:48] #285 closed

[2017-12-13 14:49] vr000m opened #287 "packetsDuplicated is not reported in an RTCP Report"
Hence, this item should also be moved to RTCInboundRTPStreamStats?

[2017-12-13 14:51] vr000m commented on #287
@alvestrand, I missed this in the #277 review, however, the same rules as packetsFailedDecryption apply.

[2017-12-20 13:42] alvestrand commented on #239
I think the answer should be "yes". Check the PR #288 to see if you're happy with it.

[2017-12-20 13:44] alvestrand commented on #193
Let's see if #288 (where I claim that it's an average over an implementation-defined interval) makes sense to you. Agree that current Chrome implementation doesn't.

[2017-12-21 14:23] ivocreusen commented on #240
The way it is currently implemented is as a pure counter for the number of flips. With the number of FEC flips and knowledge of the starting value (off), the status can be easily calculated at any time. Perhaps it makes sense to add more stats to poll the current state as well, so we don't have to rely on knowledge of the initial conditions?

[2018-01-03 13:11] alvestrand commented on #241
RFC 3550 section 6.4.2 seems to say that the sender octets are omitted from the RR.

[2018-01-03 14:22] alvestrand commented on #222
Moved to the provisional stats document for now.

[2018-01-03 14:22] #222 closed

[2018-01-03 14:26] alvestrand commented on #238
@minyuel is on leave, expected back end of February.

[2018-01-03 14:28] alvestrand commented on #238
This might simply be asking for a "FEC packets received" counter.

[2018-01-03 14:28] vr000m commented on #238
For in-band would fecPacketsReceived be enough? because we already have packetsRepaired.

[2018-01-03 14:29] henbos commented on #238
@icydragons If this is a FEC packets sent/received we can create a PR.

[2018-01-03 14:31] alvestrand commented on #240
This seems like something we should experiment with rather than standardize straigthaway, since we're unsure what exactly is being asked for here, or how useful it is.

[2018-01-03 14:31] #240 closed

[2018-01-03 14:36] alvestrand commented on #287
Agreed. Reassigned.

[2018-01-03 15:22] karthikbr82 opened #289 "WiFi Stats."
The quality of Wifi directly affects the performance of WebRTC and WebRTC can use these stats to adapt and produce a better experience for the users.

Can we standardize WiFi metrics?

[2018-01-03 15:33] vr000m commented on #289
I suppose this is similar in behaviour to the audio level, where the latest or current value at the time of polling is be reported in the stat.

[2018-01-04 07:02] alvestrand commented on #289
I suspect that defining Web accessible metrics for network APIs belongs to the groups dealing with device interfaces (I think it's still the DAP WG), not to WebRTC.
https://www.w3.org/TR/netinfo-usecases/ might be a relevant document (from 2014).

[2018-01-04 12:01] minyuel commented on #238
Hi,

Sorry for this reply. I missed the earlier discussion until Harald brought this up again.

I would like to add a few comments.

1. In my opinion, to measure both necessity and sufficiency of FEC, we may need "Fraction of audio that is recovered from FEC" and "Fraction of FEC that is received but unused". Both of these have been implemented (but not standardized) in WebRTC: googSecondaryDecode

[2018-01-04 22:02] aboba commented on #289
Agree with Harald that WiFi stats are out of scope of the WebRTC-stats document. In particular, if you want to understand WiFi performance, it is necessary to go below the IP visible metrics (e.g. packet loss) into link layer metrics relating to frame loss, link layer retransmission and rate adaptation.

[2018-01-05 08:38] vr000m commented on #289
We added networkType in RTCIceCandidateStats in https://github.com/w3c/webrtc-stats/pull/274, and the wireless signal-related metrics might need to be correlated to the metrics reported from the network (e.g., losses and RTT).

@karthikbr82 could you make an issue on https://github.com/WICG/netinfo/issues and see what they say? link to this issue if needed.

[2018-01-10 14:12] henbos commented on #230
Fixed by #273

[2018-01-10 14:12] #230 closed

[2018-01-10 14:12] alvestrand commented on #231
Solved by #273

[2018-01-10 14:12] #231 closed

[2018-01-10 14:24] vr000m commented on #271
from #288:
My expectation was that input audio level and output level would match. And if someone did not hear anything then the volume stat being 0 would identify the problem.

I am trying to see now if we compare the input audio level with the audio output level and the audio output takes the volume into account, how do I diagnose if the issue is with the post decoding filter...?

[2018-01-10 14:25] henbos commented on #281
Filed https://github.com/heycam/webidl/issues/509

[2018-01-10 14:26] alvestrand commented on #289
Iceboxed while waiting for netinfo.

[2018-01-10 14:29] alvestrand opened #292 "Enable continuous publication"
echidna should be enabled.
Failing that, we should get a new TR when the CR blockers are merged.
@vivienlacourba can you look at echidna?

[2018-01-10 14:30] alvestrand commented on #292
#101 check

[2018-01-10 15:00] vr000m commented on #238
wouldn't the counters packetsReceived, packetsLost, packetsRepaired, and fecPacketsReceived help with calculating the rates in 1?

[2018-01-10 15:05] #292 closed

[2018-01-10 16:19] #133 closed

[2018-01-10 16:19] #135 closed

[2018-01-10 16:54] vivienlacourba commented on #292
@alvestrand my last commit should fix your future edits and publications.

Meanwhile I manually triggered Echidna and the doc got published at: https://www.w3.org/TR/2018/WD-webrtc-stats-20180110/

Let me know if your next merge of a PR does not generate a new TR doc.

[2018-01-10 21:49] jan-ivar commented on #133
Sorry for not getting back sooner, record seems fine.

[2018-01-11 10:49] henbos opened #293 "RTCRTPStreamStats should have senderId/receiverId"
Now that we have sender/receiver stats, it makes sense for outbound RTP streams to reference sender stats with senderId and inbound RTP stream stats to reference receiverId.

As long as we have track attachment stats we can keep the existing trackId on RTCRTPStreamStats.

[2018-01-11 10:50] henbos opened #294 "Rename RTCRTPStreamStats to RTCRtpStreamStats?"
In webrtc-pc, the only abbreviation that's all-CAPS is RTC.
Example: RTCRtpSender.

All stats dictionary names ending with RTPStreamStats should be renamed RtpStreamStats.

[2018-01-11 10:53] henbos commented on #293
Related question: Are sender/receiver stats and RTP stream stats always a 1:1 mapping that never changes? Could RTP stream stats be viewed as a subset of sender/receiver stats?

[2018-01-11 14:46] alvestrand commented on #235
Another possible API is to have an event every time a stats object reaches the end of its lifetime, containing the stats at the time of ending / being deleted. That would avoid consuming memory in the case where nobody cares what the stats say (no event listener => no stats produced).

[2018-01-11 15:39] lgrahl commented on #235
Isn't this a typical problem that can be resolved with log rotation / a circular buffer? One could imagine an API to set the target size of the log buffer (where of course the browser still has the right to restrict the bounds) with a sane default. The only issues I see is a) how to determine the size of the current log entries, and b) how to make sure the application doesn't poll too slow if it w

[2018-01-11 16:26] alvestrand opened #295 "Define timestamps in terms of performance.origin"
Check discussion here:

https://github.com/w3c/webrtc-pc/issues/1690

Timestamps should be defined as performance.timeOrigin + performance.now().

[2018-01-11 17:20] henbos opened #296 "Rename "objectDeleted" to something else."
In the case of "track" stats, "objectDeleted" would be true for any attachments that are no longer current, even though no object has necessarily been deleted. Neither "object" or "deleted" are suitable descriptions unless you consider the "attachment" the "deleted object".

Generally speaking, any object that is exposed to the application may not have been deleted due to existing references (by a

[2018-01-11 17:33] vr000m commented on #235
I missed this bit in the meeting, joined late, what was the decision on this? @alvestrand

[2018-01-11 19:29] jan-ivar commented on #235
I covered the problem (the first slide), but ran out of time to present the proposal ([second slide](https://docs.google.com/presentation/d/1o-o5jZBLw3Py1OuenzWDkxDG6NigSmLHvGw5KemKWLw/edit#slide=id.g2d42e878ad_0_17)) that @na-g and I have been working on. PTAL.

It's basically `getDeletedStats()` except we call it `getCompletedStats()` and it can be synchronous, since it's returning a lump of cac

[2018-01-11 21:56] taylor-b commented on #293
What's the difference between `RTCVideoSenderStats` and `RTCLocalVideoStreamTrackStats`? Does it have to do with `replaceTrack`? I'm a little confused about the current state of the stats objects.

Anyway, to answer your question: it's not a 1:1 mapping, more a 1:M mapping. My current understanding is that each `RTCRTPStreamStats` represents one RTP stream, and one sender/receiver could definitely

[2018-01-16 09:39] ssilkin commented on #275
Any update on this?

[2018-01-17 12:01] henbos commented on #293
Ok, thanks! Then having them as separate objects still makes sense.
There is a `rtpstream -> track` reference, at some point we chose not to have redundant references in both directions, but conceptually there is `track -> rtpstream(s)`.

`RTCVideoSenderStats` is the stats for the sender during all of its lifetime. Imagine a graph that keeps growing indefinitely over time since the sender was crea

[2018-01-17 12:09] alvestrand commented on #271
An implementation experiment showed that on current Chrome, you can't turn on echo cancellation on one track and turn it off on another track from the same source - which limits the usefulness of my other idea. https://crbug.com/802198
Firefox at least reports that echo has been turned off, but no discernible volume difference in simple tests. https://github.com/webrtc/samples/pull/993 is the test

[2018-01-17 13:00] henbos opened #298 "Rename sender/receiver/track stats"
Largely copied from https://github.com/w3c/webrtc-stats/pull/273.

We have these hierarchies (and similar for audio and receive):

`RTCMediaStreamTrackStats <- RTCVideoStreamTrackStats <- RTCVideoSenderStats <- RTCLocalVideoStreamTrackStats`

In other words

`Track <- [Audio/Video]Track <- [Audio/Video][Sender/Receiver] <- Local[Audio/Video]Track`

It gets a bit confusing about going back and fort

[2018-01-17 13:24] alvestrand commented on #298
Department of inane bikeshedding:

What about "RTCMediaHandler" for the top level object?

Thus:
<pre>
RTCMediaHandlerStats
   RTCAudioHandlerStats
      RTCAudioSenderStats
      RTCAudioReceiverStats
  RTCVideoHandlerStats
      RtCVideoSenderStats
      RTCVideoReceiversStats
</pre>
Almost makes sense?

[2018-01-17 13:31] henbos commented on #298
That makes sense.

Not sure this is just bikeshedding, if @taylor-b got confused by the new structure (https://github.com/w3c/webrtc-stats/issues/293#issuecomment-357074110) I think we should do a better job with the naming/explaining :)

[2018-01-17 14:06] #239 closed

[2018-01-17 14:13] alvestrand commented on #235
Copying my idea from the mailing list:

I've been pondering other options, and came up with one:
<pre>
partial interface RTCPeerConnection {
   attribute EventHandler onstatsobjectended;
}
</pre>
and an event
<pre>
interface RTCStatsEvent : Event {
   readonly attribute RTCStats finalStats;
}
</pre>

The advantage of this is that as long as there's no listener attached,
this produces no overhead t

[2018-01-17 14:19] vr000m commented on #235
I prefer the event firing rather because it gives the application an indication that something changed. And I think we will need to go and defined in the document when each object becomes obsolete.

[2018-01-17 14:19] alvestrand commented on #298
@jan-ivar you suggested the original set.

[2018-01-17 14:20] henbos commented on #235
I think memory or speed wise this is not a problem unless you have a server running for a REALLY long time and people connecting and disconnecting continuously.

I think not keeping old stats around is more of a tidiness problem, it's not nice if you getStats() and half of the things in there are not relevant anymore.

In any case, firing an event when the final version of a stats object is produc

[2018-01-17 14:29] vr000m commented on #298
@karthikbr82 and @lennart-csio PTAL

[2018-01-17 14:30] alvestrand commented on #296
May be OBE if we pick the "emit event" resolution for #235

[2018-01-17 14:30] vr000m commented on #296
related to #235, pursue this if that doesnt go through

[2018-01-17 14:31] henbos commented on #298
If if #235 uses an event you might be able to calculate the "track" attachment stats from the sender/receiver stats

[2018-01-17 14:33] alvestrand commented on #294
Let's do it.

[2018-01-17 14:35] alvestrand commented on #293
I think we should only have pointers in one direction, so I suggest that the sender stats have the ID of the stats for its currently attached track.

[2018-01-17 15:11] vr000m opened #299 "Add fecPacketsSent/Received"
As per the discussion in #238.

[2018-01-17 23:11] taylor-b commented on #293
So this does have to do with `replaceTrack`, then? Every time you call `replaceTrack`, a new `RTCLocalVideoStreamTrackStats` shows up and the previous one is marked as `objectDeleted`? That seems like something worth calling out.

[2018-01-17 23:33] jan-ivar opened #300 "Missing definition of "deleted". When exactly do stats get deleted?"
One problem we ran into looking at `getCompletedStats` - which [using events](https://github.com/w3c/webrtc-stats/issues/235#issuecomment-358316276) might skirt, but nonetheless seems problematic - is the lack of timing guarantees or a definition of completed/deleted.

For instance - even using @alvestrand's [shim](https://github.com/w3c/webrtc-stats/issues/235#issuecomment-358316276) - would the

[2018-01-17 23:50] jan-ivar commented on #235
@alvestrand I like the event idea.

We might want to bikeshed on the names a bit (final = deleted = completed = ended).

There's also the question (thanks @na-g) of whether the event would contain an `RTCStatsReport` object or an `RTCStats` object (sadly `object` in WebIDL). E.g. is it one event per object:

[code]
or plural:

[code]

I also filed https://github.com/w3c/webrtc-stats/issues/300 on

[2018-01-18 00:15] jan-ivar commented on #300
The [spec today](https://w3c.github.io/webrtc-stats/#dom-rtcstats-objectdeleted) says *"When a monitored object is destroyed, a final stats object is produced, carrying the values current at the time of destruction"*.

But it's not clear when these objects are destroyed.
 1. Does `replaceTrack` destroy the replaced "track" stats?
 2. Does the destruction of all track stats related to a stream dest

[2018-01-18 00:25] jan-ivar commented on #298
@henbos Yes this was my point in the [slide](https://docs.google.com/presentation/d/1o-o5jZBLw3Py1OuenzWDkxDG6NigSmLHvGw5KemKWLw/edit#slide=id.g2d42e878ad_0_31) we didn't get to at the interim. It's not entirely trivial though:

[code]

[2018-01-18 08:55] alvestrand commented on #300
In many cases, the answer will be obvious; in other cases not so much. I think it needs answering for both event-emitting and getCompletedStats cases, and agree that it's not defined clearly now.

1. replaceTrack and removeTrack destroys the binding between the old track and the sender (it's the binding that is tracked by the stat, not the track), which is the end of that "object". I'm not sure th

[2018-01-18 10:38] henbos commented on #293
Yes!

[2018-01-18 10:41] henbos commented on #235
It might be worth firing a full stats report, or a stats report containing everything that was updated.
If you only fire one stats object at a time, you might not have a complete view of stats objects. I.e. maybe the stats object references another stats object that has not been fired yet.

[2018-01-22 09:24] fippo opened #301 "terminology: rename mediaType to kind"
We use "kind" (from MediaStreamTrack.kind) everywhere to describe the media type and should update
https://w3c.github.io/webrtc-stats/#dom-rtcrtpstreamstats-mediatype for consistency.

This is also mentioned in the main spec once [here](http://w3c.github.io/webrtc-pc/#mandatory-to-implement-stats)

originally added in #9

[2018-01-22 11:35] #241 closed

[2018-01-22 11:38] vr000m commented on #193
Did #288 fix this issue?

[2018-01-23 09:34] alvestrand opened #302 "Lifetime of RTPStreamStats"
Clarify that an RTPStream only exists after it has been negotiated - or possibly after the first packet is received/sent. This is so that we can guarantee that the SSRC is known, so that the SSRC can exist.

[2018-01-23 11:01] alvestrand opened #303 "CodecType "encode" / "decode" needs to default to "both""
The description of RTCCodecStats has the field "codecType" that can be either "encode" or "decode".
It should say that if the field is missing, the codec is one that the implementation is prepared to both encode and decode.

[2018-01-23 11:08] alvestrand opened #304 "Stats need to mark up which members are required"
Some fields are needed for the stats to make any sense at all. Others may or may not be present, depending on the state of the connection or the quality of the implementation.

Those that are absolutely necessary should be marked up with "required" in the IDL.

[2018-01-23 13:54] alvestrand opened #305 "averageRTCPInterval should be averageRtcpInterval"
Follow general guidelines for field naming; we've chosen to use CamelCase for everything except RTC.

[2018-01-23 14:38] karthikbr82 opened #306 "RTCCodecStats in every getStats() is redundant."
RTCCodecStats does not change and significantly increases the size of stats output from getStats.
Hence receiving RTCCodecStats in every getStats call is unnecessary, can it be filtered out form the getStats stats output or can it be made to obtain RTCCodecStats from a different API call.

[2018-01-23 14:49] fippo commented on #306
they are is necessary to produce a fully linked graph that https://w3c.github.io/webrtc-stats/#dom-rtcrtpstreamstats-codecid can link to.

Delta-compression schemes work quite nice fwiw.

[2018-01-23 21:05] jan-ivar commented on #300
@alvestrand Thanks, that helps a lot. So basically, just *replaceTrack* and *iceRestart* then.

As I mention in https://github.com/w3c/webrtc-stats/issues/300#issue-289452103, what remains then is to try to figure out the timing wrt those APIs (*replaceTrack* and *setLocalDescription* I suppose).

If we're going with events, I think it'd make sense to fire the event right before the *replaceTrack*

[2018-01-24 13:49] alvestrand commented on #306
The decision was made rather early to make the stats a complete snapshot of the current PC state. Thus, we return many things that are stable between calls, and let the caller filter before storing.
Closing as "working as intended".

[2018-01-24 13:49] #306 closed

[2018-01-24 13:58] alvestrand commented on #235
@henbos if a full report is required at death-time, the handler can call getStats() - I was thinking that if we have many objects (candidate pairs?) dying, the handler shouldn't be FORCED to scan through all the stats every time.

[2018-01-24 14:00] alvestrand commented on #300
Seems so much easier when we really get down to details :-)

I'm also thinking that pc.close() will by definition freeze all the stats in place, so that "nothing happens after this", including that no stats are emitted as final. Otherwise, there'd be a large number of events fired on pc.close().

[2018-01-24 14:17] jan-ivar commented on #235
I think the goal is only to report precise data you can't get otherwise. My understanding was this mattered to account for absolute final byte counts etc. related to a track that was sent, for accounting. Even though the stats spec doesn't say so explicitly, it'll be necessary to get these exact numbers as part of the *replaceTrack* algorithm, and I wouldn't want to delay *replaceTrack* with a com

[2018-01-24 14:18] alvestrand commented on #306
Note: Only codecs that are attached to a current track are returned. Section 6.1:
codec
Statistics for a codec that is currently being used by RTP streams being sent or received by this RTCPeerConnection object. It is accessed by the RTCCodecStats.

[2018-01-24 14:19] alvestrand commented on #235
I'll write up a PR based on the event-firing idea. It seems to be workable.

[2018-01-24 14:22] alvestrand commented on #235
Suggestion to avoid the "references to things that don't exist any more": Let the event have a sequence<RTCStats> as a parameter, so that everything referenced in a stat is either present in getStats() or present in the current event.

[2018-01-24 14:24] jan-ivar commented on #235
Btw, would it suffice to return snapshots of `"sender"` stats here? Then we could simplify the spec and remove `"track"` stats as a concept. From @henbos's idea in https://github.com/w3c/webrtc-stats/issues/298#issuecomment-358321601.

[2018-01-24 14:31] alvestrand commented on #304
This is entirely orthogonal to the question of whether they're mandatory-to-implement.

[2018-01-24 14:35] alvestrand commented on #303
This was discussed in #195 - it seems that the decision at the time was to always have two codecs attached to the PeerConnection as appropriate.

[2018-01-24 14:35] vr000m commented on #303
Discussed this at length in #195, I do not think much has changed since that discussion.

[2018-01-24 14:36] #303 closed

[2018-01-24 14:37] alvestrand commented on #303
Note - codec is referred to from RTCStreamStats - outgoing streams would have an "encode" codec and incoming streams would have a "decode" codec.

[2018-01-24 14:40] vr000m commented on #302
This is related to #300 when talking about deleting the stats. On the creation side, the question is if it is okay that this is not created until the SSRC is negotiated?

[2018-01-24 14:40] vr000m commented on #302
I am fine with the object is only available after the SDPs are negotiated.

[2018-01-24 14:43] alvestrand commented on #301
Breaking change for users, and we're likely to have to keep the old name around roughly forever.
Still, people who look for "kind" in other places are likely to look for it here too. Should do.

[2018-01-24 14:44] alvestrand commented on #296
Closing as "OBE by #235"

[2018-01-24 14:44] #296 closed

[2018-01-24 14:53] karthikbr82 commented on #306
Thanks for the clarification. I raised this issue as the browser implmentations was returning all the codecs (around 52). If its the Statistics for a codec that is currently being used by RTP streams being sent or received by this RTCPeerConnection object then it should reduce the size already.

[2018-01-25 13:01] vr000m opened #308 "Deleting framesCorrupted"
Since we don't have a meaning for "corrupted" and it seems that the metric would be very similar to partialFramesLost. Discussed in PR #307

And anything that is skipped by the decoder can be calculated by: framesReceived + partialFramesLost - framesDecoded

[2018-01-25 14:23] vr000m opened #312 "video packet counters should be moved out from RTCRTPStreamStats to appropriate dictionaries"
Since the changes in #272 were a lot of work, did we just miss these or was there a reason that we chose to keep them in RTCRTPStreamStats and not move them to appropriate dictionaries?

[code]

[2018-01-26 19:31] taylor-b opened #313 "When are "fractionLost", "packetsLost," "jitter", and other RFC3550-based stats updated?"
There are a number of stats that are described as "calculated as defined in section 6.4.1. of [RFC3550]", which is the "SR: Sender Report RTCP Packet" section. So my question is: should these stats represent the values from the last generated SR? Or should `getStats` return "live" values?

I'm bringing this up because I found that [Chrome only returns values from the last SR](https://bugs.chromium

[2018-01-28 19:03] vr000m commented on #313
My expectation would be that:
At the receiver, the live stats are reported.
At the sender,  only values in the RR are reported.

Is that not the case? @taylor-b

[2018-01-29 10:48] alvestrand commented on #313
and values reported in the RR are timestamped with the arrival time of the RR.
That was my expectation.
This does create a problem for "fractionLost", which is computed from the previous SR/RR - and we haven't defined anything that allows the user to figure out when that was.
(Solved by dropping fractionLost? It seems useless once we have packetsLost and packetsReceived).

[2018-01-29 18:57] taylor-b commented on #313
It's not; that's what the Chrome bug I linked is about.

And yes, `fractionLost` is the one oddball I can find. I don't know if it's safe to remove, but we could leave it defined as "since last SR/RR" and encourage using `packetsLost`/`packetsReceived` instead.

[2018-01-29 20:09] jan-ivar commented on #313
@taylor-b Specifically which stats are we talking about? I think local stats are live, remote stats are not.

Note that both senders and receivers have "remote" stats:
 1. Remote stats on the sender come from RR.
 2. Remote stats on the receiver come from SR.

Firefox does not implement *fractionLost* yet FWIW.

[2018-01-29 20:16] jan-ivar commented on #313
*fractionLost* lives on "remote-inbound-rtp". How can that be live?

[2018-01-29 22:21] taylor-b commented on #313
Ah, that must be something that changed at some point. In our current implementation it's in `RTCInboundRTPStreamStats`.

That makes this simple then; local stats should be live. Is this interpretation obvious enough (in which case this can be closed), or is there some language we could use to make it clearer?

[2018-01-29 23:19] jan-ivar commented on #313
FWIW, Firefox implements live stats for all non-remote stats, from counters in our rtp stack. I believe webrtc.org did as well until around ~57, when we noticed some of the upstream bits we'd been relying on disappeared on us, and we had to work around it. Is that perhaps when Chrome broke?

@taylor-b I agree the spec language is problematic, and that we need to clarify it to be live.

E.g. [times

[2018-01-30 01:57] taylor-b commented on #313
I believe it's only `fractionLost`, `packetsLost`, `jitter` that are not "live" in Chrome; I'm not sure about the disappearing bits you refer to.

[2018-01-30 17:34] vr000m commented on #313
@taylor-b @jan-ivar: PTAL #314

[2018-01-30 17:35] vr000m commented on #312
@jan-ivar could you comment if these stats are in the right dictionary.

[2018-01-31 13:34] vr000m commented on #294
@karthikbr82 could you take care of this PR.

[2018-01-31 13:48] vr000m opened #316 "Cleanup: reformat the sections"
+ Codec Stats (7.3 should be subsection to RTCRTPStreamStats)
+ RTCQualityLimitationReason (7.9 should be part of RTCOutboundRTPStreamStats)

there might be some more that can be collapsed under other sections.

[2018-01-31 13:51] karthikbr82 opened #317 "Typo - RTCLocalAudioStreamTrackStats should inherit from RTCAudioSenderStats"
In section 7.21 RTCLocalAudioStreamTrackStats should inherit from RTCAudioSenderStats not RTCVideoSenderStats.

The dictionary is empty, any plans to add some stats to it ?

[2018-01-31 14:01] #161 closed

[2018-01-31 14:01] #278 closed

[2018-01-31 14:02] #287 closed

[2018-01-31 14:03] #299 closed

[2018-01-31 14:09] #313 closed

[2018-01-31 14:13] #308 closed

[2018-01-31 14:15] alvestrand commented on #193
Closing.

[2018-01-31 14:15] #193 closed

[2018-01-31 14:17] vr000m commented on #312
Is the sender reporting these?

[2018-01-31 14:21] alvestrand commented on #312
Should be on local sender and local receiver RTP stream, since the counts aren't transferred in RTCP.

[2018-01-31 14:32] alvestrand opened #318 "Work through implications of simulcast"
If we want to give sensible stats when we receive simulcast, we need more work.

This can be delayed until the WG decides that we should receive simulcast.

There may be sender-side issues too.

[2018-01-31 14:33] alvestrand commented on #316
There should be a section around all the RTPStreamStat subclasses, and similarly a section around all the RTPHandler subclasses.

[2018-01-31 14:34] alvestrand commented on #317
We can delete those unless we find an use for them Real Soon.

[2018-01-31 14:34] henbos commented on #312
There are lots of sender/receiver (track) stats that may or may not make sense to move to/from RTP stream stats, related issue: #318

[2018-01-31 14:34] vr000m commented on #317
@jan-ivar delete this?

[2018-01-31 14:36] alvestrand commented on #275
@ssilkin do you have an opinion on how these things should inherit from each other?
in particular how we can tell "layers" apart.

[2018-01-31 14:37] henbos commented on #318
Sender-side issues:
- We report only highest stream resolution in sender stats (and track stats), as opposed to moving these to the RTP stream stats and having sender reference all RTP streams for all simulcast layers. Sender:RTPStreams is 1:Many.

Receiver-side issues:
- Receiver:RTPStream is 1:1 in terms of there is always one stream on the wire, but which sender stream it represents may vary ov

[2018-01-31 14:41] henbos commented on #318
https://photos.app.goo.gl/iU9la0zsFme9TZ2j2

[2018-01-31 18:30] #305 closed

[2018-01-31 18:32] vr000m commented on #313
@taylor-b did this require a fix in webrtc-pc as well? http://w3c.github.io/webrtc-pc/#dom-rtcstats-timestamp, I can create a PR if needed.

[2018-01-31 19:09] taylor-b commented on #313
@vr000m I think addressing it in the stats spec is enough.

[2018-02-01 10:31] ssilkin commented on #275
No, not really. I only know that stats should be per spatial layer.

If we can send different layers with different SSRCs then no changes in stats will be needed. But I'm not sure if this will work. I will investigate/try and let you know the results.

[2018-02-01 13:48] CapOM commented on #143
See 'implementation' below:

7.2.  RTCCodecStats dictionary
    dictionary RTCCodecStats : RTCStats {
      unsigned long payloadType;
      RTCCodecType  codecType;
      DOMString     transportId;
      DOMString     mimeType;
      unsigned long clockRate;
      unsigned long channels;
      DOMString     sdpFmtpLine;
      DOMString     implementation;
    };

[2018-02-05 16:56] jan-ivar opened #321 "RTCIceCandidatePairStats.priority is wrong"
[RTCIceCandidatePairStats](https://w3c.github.io/webrtc-stats/#dfn-rtcicecandidatepairstats) has
[code]

The values as defined cannot be accurate, due to a limitation in JavaScript. Never filed an issue on [this](https://bugzilla.mozilla.org/show_bug.cgi?id=1258725#c2) apparently:

*"JS only has double-precision floating point as a numeric type.  So "unsigned long long" in IDL really means "53-bit

[2018-02-05 17:00] fippo commented on #321
the pair priority is a combination of both local and remote candidate pair priority defined [in the ice rfc](https://tools.ietf.org/html/rfc5245#section-5.7.2)

As far as I can see it does not provide much value unless you want to sort the candidate pairs by priority. Removing it might be an option, it can be reconstructed if absolutely necessary

[2018-02-07 13:59] henbos opened #324 "Clarify stats hierarchies"
We've ended up with multiple hierarchies and it's not obvious how everything fits together.
We should add an introductory section and/or structure the sections to follow the hierarchies.

I'm talking about:
[code]

And after https://github.com/w3c/webrtc-stats/pull/322:
[code]

Currently, all of these are just listed one after another and it's up to the reader to figure out their relationships to

[2018-02-07 14:02] #295 closed

[2018-02-07 14:07] #293 closed

[2018-02-07 14:08] alvestrand opened #325 "Track ID doesn't make sense for remote RTCRtpMediaStream stats"
We have no idea what track is attached on the other side, so these should be on the local* versions of these ojbects.

[2018-02-07 14:14] henbos commented on #316
Duplicate of #324

[2018-02-07 14:14] #316 closed

[2018-02-07 14:14] alvestrand commented on #324
Related to #316 - closing that one in favor of this.

[2018-02-07 14:14] vr000m commented on #324
duplicate of #316.

[2018-02-07 14:15] henbos commented on #324
From #316:

[2018-02-07 14:17] henbos commented on #317
I fly-by fixed this in #317, let's see if that gets merged.

[2018-02-07 14:17] henbos commented on #317
I mean in #322

[2018-02-07 14:19] alvestrand commented on #321
Let's propose to remove it. It can be computed based on the ICE RFC computation if needed, but can't be represented in 53 bits.

[2018-02-08 07:35] fippo commented on #321
(note: [ice role](https://w3c.github.io/webrtc-stats/#dom-rtctransportstats-icerole) is needed for reconstruction)

[2018-02-14 07:29] na-g opened #328 "Is isRemote on RTCIceCandidateStats still necessary?"
Is this field redundant with the type field which is either "local-candidate" or "remote-candidate"?  A similar refactoring was made to  RTCRTPStreamStats.

[2018-02-14 07:47] na-g commented on #294
RTCRTPContributingSources also defies this convention, and could be concurrently renamed.

[2018-02-14 14:17] #298 closed

[2018-02-14 14:25] alvestrand commented on #328
It seems we can remove it. Let's move it to the "obsolete stats" section.

[2018-02-14 14:29] #317 closed

[2018-02-14 14:30] #301 closed

[2018-02-14 14:32] alvestrand commented on #281
the WebIDL bug seems to conclude that DOMString is all there will ever be.
We'll document that implementations should only emit DOMStrings that are legal enum values, and leave it at that.

[2018-02-14 14:34] henbos commented on #281
I'll close this issue, we're already referencing the enum.

[2018-02-14 14:34] #281 closed

[2018-02-14 18:45] na-g commented on #271
Would RTCRtp{Contributing,Synchronization}Source (from webrtc-pc) be an appropriate place for this? It seems like this is data that one might want to poll frequently.

[2018-02-14 21:25] na-g commented on #271
It took me too long to realize this was about local media. Still, there may be a better API possible (one that is synchronous and fast) than getStats for audio data.

[2018-02-15 10:51] henbos opened #329 ""make travissetup" does not work on mac"
I get...
[code]
vivien are you the right person to mark for attention to this?

[2018-02-16 13:10] ilyanikolaevskiy opened #330 "Add hugeFramesSent counter to RTCVideoSenderStats dictionary"
Please add a hugeFramesSent counter to RTCVideoSenderStats dictionary.

This should report the total number of "huge" frames sent since the beginning of the call.
A frame is defined as "huge" if it's encoded size is at least 2.5 times the average encoded frame size for the configured encoder bitrate. In the simulcast case, if any of the substreams produced a "huge" frame, this should be counted as

[2018-02-18 16:55] vr000m commented on #330
Would the hugeFrame be equivalent to an key frame, i.e., an I-frame or equivalent?

https://w3c.github.io/webrtc-stats/#dom-rtcvideosenderstats-keyframessent

[2018-02-19 10:47] ilyanikolaevskiy commented on #330
No, while key-frames are most certainly would be huge frames, most of the huge frames would be delta frames. The issue is that encoder will most likely produce a delta frame, even on a big change in the screenshared content, even if that produced frame would be 4 times more than the allocated per-frame size. Also, key frames can't be used for detecting the slide changes because they may be caused

[2018-02-20 11:55] vr000m commented on #300
PTAL @lennart-csio @karthikbr82 @balazskreith

[2018-02-20 16:28] henbos commented on #330
I think we need to clarify what "average encoded frame size is".
Does the average include the frame that just arrived when we determine if it was huge? If so the first frame is never huge, otherwise the first frame is always huge for any size because the average is initially zero (x > 0).

During a call, it is possible to change resolution, quality, video track, sender parameters, etc, etc. Do we

[2018-02-20 16:31] henbos commented on #330
@ilyanikolaevskiy can you create a PR?

[2018-02-20 16:39] alvestrand commented on #330
I don't know if the value 2.5 is magical, arrived at by experience, or just a guess. Do we have statistics that show that this occurs often when what we are looking for happens (slide change, scene change?), and rarely in other cases?

Concur with @henbos worry about stats at the beginning of the call - I would tend to define "average" as a decaying average over the frames encountered with modulus

[2018-02-20 17:18] ilyanikolaevskiy commented on #330
@henbos, will make a PR one tomorrow. BTW, I can't add a branch to this repository, should I fork it then?

"average encoded frame size" is by definition <allocated bitrate>/<fps>. I.e if the encoder could magically produce all the frames of the same size, they all would be that size. The first frame will almost always be the huge frame, as it will be a key-frame and it will typically be quite lar

[2018-02-20 17:22] henbos commented on #330
Yes if you fork it and upload your change in a new branch there you can create a PR from your forked repo on github.

[2018-02-21 06:06] alvestrand commented on #330
Where do you get the "configured bitrate" from?
We normally don't recommend that people try to configure bitrate; in most cases, the target bitrate is set by congestion control.

[2018-02-21 08:42] ilyanikolaevskiy commented on #330
@alvestrand, the bitrate is taken directly from the encoder. This is the target bitrate set by the congestion control. Maybe I have to rename it to "target bitrate" in the proposal.

[2018-02-21 10:44] ilyanikolaevskiy commented on #330
I've made a pull request: https://github.com/w3c/webrtc-stats/pull/331
Currently, there are some issues with the integration test infrastructure. Also, can we please skip the w3c account creation?

[2018-02-21 14:10] #294 closed

[2018-02-21 14:11] #321 closed

[2018-02-23 08:26] alvestrand opened #336 "Normalize RTCPeerConnection and PeerConnection"
Both are used extensively in the document, seemingly without any underlying distinction. If both need to be used, there should be a defining rule on when to use one or the other.
If not - use one.

[2018-02-23 08:30] #235 closed

[2018-02-23 08:30] #300 closed

[2018-02-23 12:07] vr000m commented on #330
In RFC3550 Jitter uses:

the numbers come from:  Cadzow, J., Foundations of Digital Signal Processing and Data
        Analysis New York, New York: Macmillan, 1987.

[2018-02-23 12:31] ilyanikolaevskiy commented on #330
If I log observed frame sizes together with target frame size and put it all on github, will that be enough of the justification for the multiplier selection?

[2018-02-23 13:00] vr000m commented on #330
Anything that shows statistical significance, would be really appreciated.

[2018-02-23 17:30] vivienlacourba opened #337 "WebIDL issue"
Hi @alvestrand
The WebRTC respec ci issue should be fixed, but respec is now reporting a WebIDL issue in webrtc-stats.
Also if you have any pending PR you should rebase them.

[code]

[2018-02-26 05:51] alvestrand commented on #337
Introduced by https://github.com/w3c/webrtc-stats/pull/327, landed while the checker was out - a partial dictionary can't also have a parent dictionary. I'm doing a fix on the main branch.

[2018-02-26 05:56] #337 closed

[2018-02-26 06:04] alvestrand commented on #337
note - "make check" without "make update" still failed to detect an obsolete node version (node 8 required).

[2018-02-26 10:12] ilyanikolaevskiy commented on #330
You can see the experiment data here:
https://github.com/ilyanikolaevskiy/webrtc-frame-sizes-experiment-data

Should I add this link to the PR too?

[2018-02-27 13:45] #330 closed

[2018-03-07 01:59] taylor-b opened #339 "Add stat for RTTs between client and STUN/TURN server"
We already have `totalRoundTripTime` in `RTCIceCandidatePairStats`, and `roundTripTime` in `RTCRemoteInboundRtpStreamStats`, but these are both an end-to-end round trip time.

I suggest adding a similar stat to `RTCIceCandidateStats`, which would accumulate round trip times as measured by STUN transactions between client and STUN server (from initial candidate gathering, keepalives for NAT binding

[2018-03-07 06:12] fippo commented on #339
One can actually get some data on this by looking at the stun and turn candidate gathering time. But having more than two data points (for udp; only one for tcp) is better.

[2018-03-07 07:13] alvestrand commented on #339
Should this somehow be reported per STUN server?
If we have two STUN servers configured, it seems wrong somehow to report the average number. But if we need that level of complexity, we should introduce an RTCStunServerStats object.

[2018-03-07 07:16] fippo commented on #339
good point... this needs to live on local-candidate then? We *might* drop the "Stun" in the names then since we have no other RTT.

[2018-03-07 14:05] #336 closed

[2018-03-07 14:07] alvestrand commented on #339
Not sure localCandidate is the right place. One STUN server can end up giving you > 1 candidate, I think.
(or can it?)

[2018-03-07 14:09] henbos commented on #324
@vr000m Can you create a PR?

[2018-03-07 14:10] henbos commented on #312
@vr000m Can you create a PR?

[2018-03-07 15:53] fippo commented on #339
hrm... for relay candidates the candidate ip should make the localCandidate unique.

For STUN you're correct... if you ask two different stun servers you *might* get the same srflx address from both (depending on the nat type; see [this which is in vain](https://webrtchacks.com/symmetric-nat/)).
I would hope that the browser actually drops the one with the higher (initial) latency?

[2018-03-07 18:57] taylor-b commented on #339
My idea was for these fields to go on `RTCIceCandidateStats`, only for "local-candidate"s.

I hadn't considered the case of multiple STUN servers producing the same server reflexive address. Though this wouldn't be a new problem. `RTCIceCandidateStats` has a `url` field, which is "**The** URL of the TURN or STUN server that translated this IP address". So it assumes every candidate is associated w

[2018-03-08 10:59] henbos opened #341 "remoteSource is needed for 'track' stats"
In our refactoring it half-way disappeared, it's listed in RTCMediaHandlerStats amongst definition of members but not in the dictionary.

We should only add it for 'track' though, because it is implied by 'sender' or 'receiver' type.

[2018-03-08 14:37] henbos opened #342 "Unable to distinguish "sender" stats if multiple senders are sending the same track"
"trackIdentifier" can be used to look up "track" stats and that made sense until senders were introduced and the same track can be sent multiple times simultaneously.

Now we have both "sender" and "track" stats with no way to help distinguish which sender they represent in cases where trackIdentifier is not unique. RTCRtpSender does not have an id, but its RTCRtpTransceiver has mid.
- Can we expo

[2018-03-08 15:16] henbos commented on #342
RTCRtpSender.getStats() could be invoked to let the implementation tell you which "sender" and "track" correspond to it (but this encourages additional getStats() calls and iteration).

"What if mid is not set?" This would only be the case before negotiation when all counters are zero. Not a very useful case.

[2018-03-14 14:19] alvestrand commented on #339
I think we have multiple mixups here:
- One stun server providing multiple addresses
- multiple stun servers providing one address

Suggest adding a stunserver object, containing:

- URL
- local address used to communicate with the server (hostport, including address family)
- # of requests sent
- # of responses received
- sum of RTT for received responses

That would make it independent of candid

[2018-03-14 14:23] alvestrand commented on #342
Workaround at the moment is to call sender.getStats() and look at its stats ID. If there's more use cases, this can be reopened.

[2018-03-14 14:40] #341 closed

[2018-03-14 17:07] dontcallmedom commented on #329
ping @vivienlacourba

[2018-03-14 20:40] taylor-b commented on #339
Just to clarify, do you mean a server providing multiple "srflx" addresses for multiple "host" addresses (1:1)? Or for a single "host" address (1:M)? The latter shouldn't happen.

If I understand correctly, this is really more of "stunserverconnection", since you could have multiple objects with the same URL but different local addresses (for different network interfaces, or different m= sections

[2018-03-28 11:13] #328 closed

[2018-04-04 13:12] alvestrand opened #345 "Write a "how to add more stats" guideline document"
This has been on the plan for a while, but it's nice to have a bug on it.

[2018-04-04 15:57] henbos commented on #345
This document will be targeted towards developers and aims to:
- Give developers an idea how standardization works and guide them through it.
- Put ownership of the entire process of adding the stats (spec issue, spec PR, implementation) on the developer proposing the stats. Allowing resources and expertise to be used appropriately.
- Decrease the perceived and actual delay time of standardization

[2018-04-04 16:03] henbos commented on #345
Experimental stats will have limited exposure, e.g. not exposed to the web platform by default (hidden behind Origin Trials experiment, etc.).

[2018-04-05 12:41] aboba commented on #318
@alvestrand   In diagnosing simulcast reception problems, I am not sure how valuable it would be to look at individual RTP streams. The SFU will only forward a single stream at a time to the receiver, so from the browser point of view, there is only ever a single track provided by the receiver, the same as if the SFU were sending only a single stream.  While the RTP stream stats would include mult

[2018-04-05 12:55] aboba commented on #275
@alvestrand  VP8/VP9/AV1 all use a single stream for SVC. So it is somewhat tricky to keep statistics on a per-layer basis.  For example, a sender receiving a NACK could be getting feedback on losses within multiple layers, and a receiver sending a NACK would need to track the correspondence between losses and layers.  Also, the SFU will typically adjust the layers forwarded based on the aggregate

[2018-04-06 08:37] alvestrand commented on #318
@aboba is there any difference between track stats and rtpsender/rtpreceiver stats in this regard?

The sender/receiver stats (of some type that is a subtype of RTCMediaHandlerStats) reports on all SSRCs for an RTPSender, unlike the inbound-rtp and outbound-rtp that only report on a single SSRC.

[2018-05-02 13:29] alvestrand opened #346 "Add a "panel test" to track implementation status"
If we're going to advance to PR, we need to know what the implementation status is.
Having a "panel" based on KITE or WPT should give us a list of stats and who implements them.

[2018-05-02 13:30] alvestrand commented on #346
Of course, validating that the values make sense is a HUGE benefit!

[2018-05-02 13:44] vivienlacourba opened #347 "Should WebRTC be [SecureContext]"
Comment from @ylafon for the W3C TAG on the webrtc-stats CR transition request.

[2018-05-02 14:43] henbos commented on #345
Here's the doc I intend to share, please comment.
https://docs.google.com/document/d/1q1CJVUqJ6YW9NNRc0tENkLNny8AHrKZfqjy3SL89zjc/edit?usp=sharing
I'll send it to the mailing list tomorrow. @vr000m this also shows an overview of some of the C++ implementation of getStats() even if it doesn't tell you how difficult it is to add a particular metric.

[2018-05-02 19:39] vr000m commented on #346
@karthikbr82 @pallab-gain you folks are in-charge of getting this done for the Stockholm Interim.

[2018-05-03 11:17] alvestrand commented on #347
@ylafon I don't see how [SecureContext] is relevant for the stats document, simply because of how the rules are distributed between it and the webrtc-pc document - this document has no interfaces.
The webrtc-pc document has normative text for the API calls. The stats section (https://w3c.github.io/webrtc-pc/#sec.stats-model) has a "partial interface RTCPeerConnection".

The discussions when review

[2018-05-04 17:01] fippo opened #348 "add a graph showing the relationship of stats to the spec"
@henbos has done a whiteboard drawing of the current stats graph which I find *very* useful:
https://photos.app.goo.gl/6P0i4AV1E3szctTl1

Would be great to add this to the spec too as it explains some of the concepts much better than two pages of text could

[2018-05-07 08:39] alvestrand commented on #271
Thought: One possibility is to define a "source" stats object, which would have a reference from the "track" stats object. This is a place to hang both input audio level and input frame width and height (which has been requested in other contexts - see googFrameWidthInput non-standard stats).
@henbos @burnburn what do you think?

[2018-05-16 13:06] alvestrand commented on #238
@henbos to ping @minyuel to figure out if we've added enough stuff to close the bug.

[2018-05-16 13:07] alvestrand commented on #260
Considered, not a good fit for purpose, we think.

[2018-05-16 13:07] #260 closed

[2018-05-16 13:07] vr000m commented on #238
@balazskreith PTAL

[2018-05-16 13:10] alvestrand commented on #271
Note: No matter what, it should be doing "accumulated energy", not "instant volume", for all the reasons given.

[2018-05-16 13:12] vr000m commented on #271
👍 If we can do video input as well, it would be worthwhile consider doing.

[2018-05-16 13:15] alvestrand commented on #275
@aboba Is it appropriate to forget about the multi-stream SVC format, to make our life simpler?

[2018-05-16 13:25] alvestrand commented on #318
Sender stats need to report on the highest quality stream produced from the track - OutgoingRTPStream stats need to report on each indvidual RTP stream.

[2018-05-16 13:35] alvestrand commented on #324
Should incorporate the picture from #348 somehow.

[2018-05-16 13:37] henbos commented on #348
Here's a version of the picture linked above that doesn't have black lines indicating what is directly or indirectly referenced from the RTP streams:
https://photos.app.goo.gl/7n0eresV2OvBNdAT2

[2018-05-16 13:39] #342 closed

[2018-05-16 13:42] alvestrand commented on #345
Sent to mailing list, no comments. Guess it's perfect.

[2018-05-16 13:46] alvestrand commented on #345
It makes sense to either link to it or copy it into the webrtc-stats repo - not as a spec, but as "helpful material".

[2018-05-16 13:48] henbos commented on #345
I'll create a PR to link to it from our README.md.

[2018-05-16 13:49] alvestrand commented on #347
ping @ylafon

[2018-05-17 11:57] ssilkin commented on #275
It appeared that per-layer stats is not actually needed for project I'm working on. I will unassign myself from the ticket.

[2018-05-18 07:05] balazskreith opened #350 "Identifier ambiguity in stat objects"
Hello,

Recently we have created a graph to have an overview how we can reach one webrtc stat object from another one (See the attachment). We used the names listed in the [RTCStatsType](https://www.w3.org/TR/webrtc-stats/#dom-rtcstatstype) to identify attributes in other objects pointing to another stat object. This works quite well, except (as far as I see) for transportId.
I have found that tra

[2018-05-18 20:12] taylor-b commented on #350
That was just a typo on my part. I'll fix it.

[2018-05-19 19:31] #350 closed

[2018-05-30 13:04] alvestrand commented on #347
Thanks - closing issue, please re-raise on webrtc-pc.

[2018-05-30 13:04] #347 closed

[2018-05-30 13:10] alvestrand commented on #348
The graphs shown in #350 sound like a more maintainable approach than hand-drawing them.

[2018-05-30 13:11] alvestrand commented on #275
Until we have a customer, we'll close this bug then.

[2018-05-30 13:11] #275 closed

[2018-05-30 13:37] vr000m commented on #348
@balazskreith is taking responsibility for this.

When it is ready, we will need someone from W3C to vet the licenses on the dependency libs

[2018-05-30 13:41] vr000m commented on #339
@lennart-csio PTAL

[2018-06-01 17:27] jan-ivar commented on #348
There's also [this slide](https://docs.google.com/presentation/d/1vc3VB45gidEUcWgtmbjfJwHuoOnsCCcc3qksKMpFEuE/edit#slide=id.g1cc24b4961_3_5) from March 2017, though some of the dictionary names have changed since.

[2018-06-21 09:29] henbos commented on #271
[code]

Resolution may change 1-7, we can only provide getStats() for what is in the "WebRTC pipeline", e.g. 3-6.

Our current stats are for 3 and for 6 (or if we don't do anything at 6 I then the stats are for 5).
We could chose to expose more of these, but we cannot expose stuff that happens outside of the "WebRTC pipeline" without getStats() or equivalent on non-WebRTC primitives or on GETUSERM

[2018-06-21 09:31] henbos commented on #271
2 and 3 are the same resolution

[2018-06-21 09:33] henbos commented on #271
I think some of this issue stems from wanting stats before/after application does additional processing, but that is outside the scope of WebRTC pipeline.

[2018-06-21 09:35] henbos commented on #271
@huibk / @vr000m Can you pinpoint where in the steps described above you want to have the metrics for? (I mostly used resolution as the example, but same applies for audioLevel)

[2018-06-21 09:37] vr000m commented on #271
My original concern was to have input and output metrics for all the components that transform media in some way.

For example, components of the media pipeline that downscale/upscale video or suppress/conceal audio.

[2018-06-21 09:45] henbos commented on #271
The sender is comprised of multiple components and it might be worth considering splitting the dictionary up into multiple components to reflect that, a "sender"/"receiver" and "encoder"/"decoder" dictionary. Conceptually: https://photos.app.goo.gl/fyqGKxYMhM247dK47

The encoder should have input/output stats (whether resolution or audio energy, etc). Or we put them in the "sender" stats for now,

[2018-06-21 09:52] henbos commented on #318
From WG meeting: Harald, Sergio, Bernard to work out the implications of simulcast :) stats to be revisited afterwards

[2018-06-21 09:53] vr000m commented on #346
webrtc-stats.callstats.io/verify is now available, how do we proceed with this? close the issue?

[2018-06-21 10:07] henbos commented on #346
Feedback:
- This is awesome!
- It's sometimes hard to tell which stat corresponds to which box, can you draw a line between stats names and boxes?
- Some stats are listed multiple times, which they absolutely should, e.g. inbound/outbound local/remote rtp stats are different cases and a metric being present in one of these dictionaries doesn't mean it is present in other dictionaries. In addition

[2018-06-21 10:08] henbos commented on #346
In order to close this issue (unless you want to keep it open as an issue tracker for the above): Please create a PR to link to the panel from the spec.

[2018-06-21 10:32] henbos opened #353 "Input/output resolution and audio energy"
The resolution, audio level, etc. values for sender/receiver/track stats are not clear which part of the pipeline they apply to, see discussions at #271.

The sender is really encoder + packetizer: https://photos.app.goo.gl/fyqGKxYMhM247dK47
The same is true for receiver but in reverse order.

We should consider splitting this up sender/receiver into encoder / decoder dictionaries references by th

[2018-06-24 11:08] vr000m commented on #353
"blahInput" and "blahOutput" would be more consistent with for example: packetsSent, packetsReceived, where blah = packets

[2018-06-27 13:19] alvestrand commented on #353
If we consider encoders and packetizers as transformative elements, a number of metrics only make sense in one end of the element; for instance, there is no obvious volume in a packet that has audio in it; the volume property (if it exists!) belongs to the stream at the input to the encoder.
The obvious exception is MediaStreamTracks, which have 2 ends of the same form, but with different metrics,

[2018-07-10 02:53] na-g opened #356 "RTCIceCandidateStats.deleted can be removed"
This field was made redundant by the addition of the onstatsended event, though the accompanying prose may still be useful.

[2018-07-10 03:34] na-g opened #357 "References to "objectDeleted" can be removed"
The onstatsended event work removed objectDeleted but a few straggling references remain in the prose for RTCSenderVideoTrackAttachmentStats and RTCSenderAudioTrackAttachmentStats.  It may be useful to mention that it is expected that an onstatsended event will be fired.

[2018-08-01 15:54] fippo opened #358 "identifying the ice generation of a candidate pair"
I tried testing https://webrtc.github.io/samples/src/content/peerconnection/restart-ice/ today and ran into an issue trying to determine when an ice restart is done (ofc there are differences in behaviour...)

Before the ICE restart I got the candidate-pair stats:
[code]
and after the restart I got these:
[code]
just from looking at this it is not clear which generation they belong to and which on

[2018-08-21 07:23] fippo opened #360 "RTCIceCandidateType: is it 'relay' or 'relayed'"
We are defining RTCIceCandidateType in https://w3c.github.io/webrtc-stats/#dom-rtcicecandidatestats-candidatetype
which points to https://w3c.github.io/webrtc-pc/#rtcicecandidatetype-enum which has host/srflx/prflx/relay.

However, both Chrome and Firefox implement a different set of strings -- host/serverreflexive/peerreflexive(?)/relayed.

When was this changed? I recall finding it annoying to h

[2018-08-21 23:51] vr000m commented on #360
The strings in the enums come from the ABNF in RFC5245 or the latest ICE SDP spec.

‘’’
candidate-types = "host" / "srflx" / "prflx" / "relay" / token
‘’’

[2018-08-22 05:30] fippo commented on #360
what the browsers implement comes from https://w3c.github.io/webrtc-stats/archives/20151023/webrtc-stats.html#rtcstatsicecandidatetype-enum

This was changed in #36

I agree the new thing is more aligned but this is a change of deployed code without a migration path. Doesn't help that neither Chrome nor Firefox picked it up in two years.

[2018-08-24 04:59] vr000m commented on #360
I hear you. Perhaps report bugs on the respective browsers?

Are you are suggesting to change something here?

[2018-09-04 08:40] karthikbr82 opened #361 "Should track also contain RTCRtpReciever stats?"
Currently definition for track is defined as
Contains statistics related to a specific MediaStreamTrack's attachment to an RTCRtpSender and the corresponding media-level metrics. It is accessed by either RTCSenderVideoTrackAttachmentStats or RTCSenderAudioTrackAttachmentStats, both inherited from RTCMediaHandlerStats.

The monitored "track" object is deleted when the sender it reports on has its "

[2018-09-04 08:42] karthikbr82 opened #362 "Typo fix in receiver."
the receiver is defined as,
Contains statistics related to a specific receiver and the corresponding media-level metrics. It is accessed by the RTCAudioReceiverStats or the RTCVideoSenderStats depending on kind.

RTCVideoSenderStats Should be changed to RTCVideoReceiverStats

[2018-09-04 08:53] karthikbr82 commented on #362
https://github.com/w3c/webrtc-stats/pull/363

[2018-09-04 11:48] alvestrand commented on #361
When we switched from monitoring tracks to monitoring senders, the thought was that the tracks were there for legacy purposes; it's actually a bit hard to get them to function correctly.
But given that they were already there, we thought we couldn't delete them.

So we'd prefer that people use stats from senders and receivers, respectively.

[2018-09-04 11:49] alvestrand commented on #362
Thanks for the fix! Merged!

[2018-09-04 11:49] #362 closed

[2018-09-04 13:23] #360 closed, assigned to nobody

[2018-09-06 13:34] karthikbr82 commented on #361
if we are moving  "tracks" Obsolete stats section then we could do the same for "stream".
We also have to delete trackIdentifier from senders and receivers.

[2018-09-06 15:26] henbos commented on #361
Yes that sounds like a good idea to me.
Other uses of "trackId" that should move to the obsolete section: RTCInboundRtpStreamStats.trackId, RTCOutboundRtpStreamStats.trackId.

If we still want to expose stream identifiers that more properly belongs to the sender and receiver state as a sequence&lt;DOMString&gt; streamIdentifiers. The webrtc-pc spec has shied away from streams for a while now so th

[2018-09-06 19:47] jan-ivar commented on #361
Firefox has not yet implement `"track"` stats, so we'd be OK with obsoleting them.

But we should check with @vr000m who I believe was the proponent of keeping `"track"` stats sender-side (with differently-offset packet and byte counters from the corresponding `"sender"` stats), as well as having [statsended](http://w3c.github.io/webrtc-pc/#event-statsended) fire with `"track"` stats whenever a se

[2018-09-06 22:37] jan-ivar opened #365 "Remove track/stream stats in favor of RTCMediaHandlerStats.mid"
@karthikbr82 said in https://github.com/w3c/webrtc-stats/issues/361#issuecomment-419095016:

👍 I suspect "stream" stats existed to help locate relevant stats from a media starting point. This made sense when `pc.addStream` was the media hand-off API. E.g.
[code]

These days, it's probably more helpful to start from a track:
[code]
But the track isn't stable (may be changed with *replaceTrack*); th

[2018-09-06 22:39] jan-ivar commented on #361
👍 I've filed https://github.com/w3c/webrtc-stats/issues/365.

Not necessarily. *trackIdentifier* is different from *trackId*.

*trackIdentifier* is `sender.track.id` or `receiver.track.id` respectively, and useful for locating stats when you have a track.

[2018-09-12 14:56] na-g opened #366 "Call out which stats are expected to trigger StatsEnded events"
It would be nice to have the stats that are expected to trigger StatsEnded events called out or listed.

[2018-09-13 07:41] karthikbr82 opened #369 "Rename RTCIceCandidate.ip to address."
With reference to this issue - https://github.com/w3c/webrtc-pc/issues/1913 and this PR https://github.com/w3c/webrtc-pc/pull/1985

[2018-09-13 07:45] karthikbr82 commented on #369
PR exists - https://github.com/w3c/webrtc-stats/pull/367

[2018-09-13 07:45] #369 closed

[2018-09-13 12:28] karthikbr82 opened #370 "audioLevel can be removed from 'csrc'"
RTCRtpContributingSourceStats contains audioLevel and also in RTCAudioHandlerStats, So its duplicated value and can be removed from RTCRtpContributingSourceStats.

[2018-09-13 13:33] karthikbr82 opened #371 "csrc can be removed and RTCRtpContributingSourceStats can be moved to receiver stats."
webrtc-pc defines RTCRtpContributingSource as part of RTCRtpReceiver.
In order to maintain consistency, we can move the RTCRtpContributingSourceStats to be part of RTCAudioReceiverStats and RTCVideoReceiverStats.

csrc is not in https://www.w3.org/TR/webrtc/#mandatory-to-implement-stats, and as far as i know none of the browsers have implemented this yet.

[2018-09-13 13:35] karthikbr82 commented on #371
csrc is not in https://www.w3.org/TR/webrtc/#mandatory-to-implement-stats, and as far as i know none of the browsers have implemented this yet.

[2018-09-13 17:49] na-g commented on #371
Firefox has implemented RTCRtpContributingSource. It is my understanding that one of the reasons it has its own method is because it is expected to be polled at a higher rate than other stats, and that lumping it in with the others could cause performance issues.

[2018-09-13 18:00] na-g commented on #370
The audioLevel in RTCRtpContributingSourceStats is the contribution of a single participant in a mixed audio stream, not the audio level of the whole stream. There is no descriptive text of RTCAudioHandlerStats in the draft yet, but it looks like it applies to the whole stream.

[2018-09-13 19:50] vr000m commented on #346
@karthikbr82 @pallab-gain once we have added safari and edge to the KITE service driving webrtc-stats.callstats.io, create the PR to add a link.

[2018-09-13 20:36] jan-ivar commented on #371
Not easily, because it's a one-to-many relationship.

I.e. [receiver.getContributingSources](http://w3c.github.io/webrtc-pc/#dom-rtcrtpreceiver-getcontributingsources) returns a *sequence* of [RTCRtpContributingSource](http://w3c.github.io/webrtc-pc/#idl-def-rtcrtpcontributingsource)s, whereas [RTCRtpContributingSourceStats](https://w3c.github.io/webrtc-stats/#dom-rtcrtpcontributingsourcestats) co

[2018-09-14 07:54] #370 closed

[2018-09-19 13:24] vr000m opened #373 "Inconsistent usage of not applicable/not present"
If they mean the same thing, then use it consistently. Else describe if there is a semantic distinction between the two somewhere in the document.

[2018-09-19 13:36] #279 closed

[2018-09-19 13:38] vr000m commented on #371
@karthikbr82 WDYT, close the issue?

[2018-09-19 13:38] #371 closed

[2018-09-19 13:39] vr000m commented on #366
@karthikbr82 @pallab-gain could you look into this?

[2018-09-19 13:44] vr000m commented on #361
From the discussion above, it seems we are leaning on a Yes, there must be receiver stats. It is an orthogonal discussion if the track stats should be deprecated.

We can make some tests on replace track, simulcast, and SVC tracks and observe if it breaks anything. If senders cover the trackability/diagnostics in these situations, I am happy to get rid of the tracks.

[2018-09-28 21:06] youennf opened #374 "Exposing RTCIceCandidateStats.networkType might trigger fingerprinting"
Isn't it an issue to expose the fact that a host is vpn for instance?

[2018-09-28 21:10] youennf opened #375 "Is exposing a remote peer IP address through RTCIceCandidateStats.address a privacy issue"
In the case of a peer reflexive remote candidate, one peer might disclose the IP address of the other peer that made sure to not disclose this IP address to the web site.
See also https://github.com/youennf/mdns-ice-candidates/issues/3

[2018-09-28 21:19] youennf commented on #374
Or being able to know whether someone is connected over ethernet vs. wifi...
I am also wondering what an application might do of this particular information.

[2018-09-30 09:36] vr000m commented on #374
This is already exposed for http://wicg.github.io/netinfo/, we should make sure that the stats document references it.

We have found `networkType` to be very helpful for diagnostics. (during a call and also afterwards). At least in the case for diagnostics, knowing if the user was on a WiFi helps a lot.

Not having done any study, I cannot say if the additional information helps with fingerprinti

[2018-09-30 10:27] youennf commented on #374
http://wicg.github.io/netinfo/ acknowledges that this API causes fingerprinting issues.
And it refers to WebRTC to state that this is already leaking elsewhere.
There would be a circular reference if WebRTC stats would refer to this API.
And the netinfo API is not as widely implemented/endorsed as WebRTC.

User agents that want to prevent fingerprinting in WebRTC will probably also want to prevent

[2018-09-30 10:28] youennf commented on #375
Sure

[2018-10-01 08:09] vr000m commented on #374
Packet loss is a complicated metric because packet loss can appear due to congestion or due to the wireless channel. Knowing there was a wireless channel helps immensely.

Knowing an IP address is not very useful in this regard. The IP address does not reveal networkType.

I maybe speaking about a minority of the apps, however. we and other companies, because of GDPR, COPTA, or HIPAA ---  drop/has

[2018-10-08 20:26] youennf commented on #375
The proposal would be something like:
A RTCICeCandidateStats dictionary should have no address member if its candidateType member is "prflx"

[2018-10-09 23:46] juberti commented on #375
We may want to scope this only to cases where the peer did not want the address to be disclosed (e.g, mDNS), assuming this is technically possible.

[2018-10-10 00:06] youennf commented on #375
Is there value in exposing those IP addresses in WebRTC stats. From what I heard in https://github.com/w3c/webrtc-stats/issues/374, value might be low (but maybe I am wrong...).

Knowing the value, we should weight it against potential countermeasures.

As to whether a peer wants to disclose its addresses, this is done by providing or not its candidates to the other peer. I do not think we should

[2018-10-10 00:33] juberti commented on #374
This information is incredibly valuable for debugging a production service. I am familiar with several bugs that have been found by slicing stats by network type.

However, one could imagine some of this data being more privileged, similar to the IP mode discussions.

[2018-10-10 00:38] juberti commented on #375
It's definitely useful for call debugging, i.e. what was the media path for this call? What quality level were previous calls on this same media path?

prflx doesn't mean that the STUN sender hasn't disclosed its IP. It can happen even when the STUN sender disclosed its IP because its NAT behavior included endpoint-dependent mapping.

e.g.

local addr is 192.162.1.2 (host)
STUN addr is 1.2.3.4:500

[2018-10-11 14:44] alvestrand commented on #366
I thought we'd written "all stats live forever, except those with a delete procedure", but I don't know if that made it into text.

[2018-10-16 09:36] venkatesh-kuppan commented on #229
@ilyanikolaevskiy  : I see that you mention a window of 1 second in the above comments. I am trying to evaluate if WebRTC can be used for a live video streaming for Drones for  video-freeze detection. I have camera with 30 fps , so I was wondering if WebRTC can detect a delay at least not more than 50ms. Which means if the first frame receives at time t0, and second frame at t1, and t1 - t0 equals

[2018-10-16 10:11] ilyanikolaevskiy commented on #229
@venkatesh-kuppan WebRTC can detect any delay. It's just that it returns the maximum interframe delay observed for the last 1 second. The intended use is to call GetStats every second to check if there were any freezes after the last call..

You can call GetStats() as often as you want, so you will detect freezes of any size. But the downside is that if the freeze happened, it will affect the resu

[2018-10-18 21:28] shacharz opened #376 "[DataChannels] Use RTT from sctp in the stats"
SCTP keeps an RTT parameter which is constantly being adjusted as data is being sent through the channel. Using that RTT can be significantly more accurate than using the ICE heartbeeting. Furthermore, browsers (such as Firefox) would find it easier to implement for data channel only peer connections. @nils-ohlmeier

[2018-10-18 21:29] shacharz opened #377 "[DataChannels] Expose bandwidth or congestion window from the SCTP lib"
It can be very helpful for applications to get the bandwidth/c_wnd from the SCTP layer, so it can adjust business logic accordingly.
@lgrahl

[2018-10-19 11:54] alvestrand commented on #376
The SCTP RTT should probably be exposed on an SCTPTransport stats object. we don't have such an object at the moment, but we can add one.

[2018-10-19 12:30] jan-ivar commented on #318
@aboba @henbos We got a question about how to verify outgoing width and hight of simulcast layers using stats. Does this deserve a tag and a slide at TPAC?

[2018-10-19 12:45] jan-ivar commented on #318
I assume with simulcast there'd be multiple `"outbound-rtp"` stats whose `stat.senderId` would match, but unfortunately `.frameWidth` hangs off of `"sender"` stats, of which there's still just one.

[2018-10-19 13:10] aboba opened #378 "Width and Height of Simulcast layers sent"
@jan-ivar has suggested that this might be a useful statistic (and topic for discussion at TPAC).

[2018-10-19 14:05] alvestrand commented on #376
Is this exposed on the usrsctp API?

[2018-10-19 14:51] jan-ivar commented on #378
For context, this came from discussion in https://github.com/w3c/webrtc-stats/issues/318#issuecomment-431346946.

With simulcast, there'd be multiple `"outbound-rtp"` stats whose `stat.senderId`s match.

But unfortunately, `frameWidth`, `frameHeight`, `framesPerSecond`, `framesSent`, `hugeFramesSent`, `keyFramesSent` hang off of `"sender"` stats.

Only `framesCaptured` would survive.

[2018-10-19 14:59] jan-ivar commented on #378
Options I see:
 1. Move all but *framesCaptured* to `"outbound-rtp"`.
 2. Have more than one `"sender"` stats floating around in the simulcast case.

[2018-10-20 21:18] lgrahl commented on #376
Untested but it should be there: https://tools.ietf.org/html/rfc6458#section-8.2.2 (`spinfo_srtt`).

[2018-10-21 15:58] alvestrand commented on #377
How is this supposed to work when SCTP runs on top of DTLS which runs on top of ICE?

[2018-10-21 16:29] lgrahl commented on #377
For SCTP, UDP/DTLS looks like a raw socket (and AFAIK pretty much behaves like that).

[2018-10-22 12:11] vr000m commented on #377
I am curious what things can the application can do in response to the c_wnd stats?

[2018-10-22 12:20] vr000m commented on #376
Is the issue about accuracy a question about how often the RTT is calculated (i.e., SCTP updates per packet or window) versus ICE heartbeats happen at longer intervals (1s or similar)?

[2018-10-22 13:37] lgrahl commented on #377
That is indeed an interesting question since we already have a (quirky) flow control with `.bufferedAmount` and friends.

[2018-10-22 14:17] shacharz commented on #377
decide whether to send data to this client or another (each client is connected to multiple others)

[2018-10-22 14:21] shacharz commented on #376
yes, that's my understanding of it

[2018-10-22 14:32] vr000m commented on #376
Since, we expose RTT each level, it make sense to expose the round-trip time for SCTP.
If you can make a PR, I can review it.

[2018-10-23 13:43] vr000m commented on #377
Since, we are on the topic of this, what other SCTP stats would applications want to use? also are there any other SCTP metrics that would be interesting for the app

[2018-10-23 14:05] shacharz commented on #377
AFAIK it's not a bug, since bufferedAmount don't include the sctp buffer.

- opened a different issue for RTT
- packet loss would also be interesting.
- also interesting but more futuristic, for us at least: maximum size for data payload before packet will be split to 2 (mtu - all the headers calculation)

[2018-10-23 16:10] lgrahl commented on #377
It is definitely a bug. See the [corresponding spec section](https://w3c.github.io/webrtc-pc/#dom-rtcdatachannel-bufferedamount). The only reason why all implementations are affected by this is because they all use usrsctp which currently does not expose that information.

I'm not seeing further items that should be in the stats (there are a couple that could be added to `RTCSctpTransport` at some

[2018-10-23 16:43] shacharz commented on #377
yea, I agree that these attributes are more fit for `RTCSctpTransport` instead of stats.
But the sad story is [lack of support](<https://wpt.fyi/results/webrtc/RTCSctpTransport-constructor.html?aligned&label=stable>)

[2018-10-23 17:03] lgrahl commented on #377
Tell me about it.  :disappointed:

[2018-10-23 17:22] shacharz commented on #377
if you haven't already upvote:
[chrome](<https://bugs.chromium.org/p/chromium/issues/detail?id=818643&q=RTCSctpTransport&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified>)
[ff1](<https://bugzilla.mozilla.org/show_bug.cgi?id=1278299>)[ff2](<https://bugzilla.mozilla.org/show_bug.cgi?id=1307996>)

[2018-10-24 06:36] youennf commented on #375
As per TPAC discussion, the idea is to not expose such IP addresses until the browser knows that they were exposed through other means (being added as remote ICE candidate).
I will prepare a PR for that.

[2018-10-24 06:46] lennart-csio commented on #377
when i worked with datachannels (full bulk) i had no clue what was limiting the throughput, maybe that is something to work on. not sure what is needed for this, though, i guess basic network stats like throughput, loss, and rtt is a start. having cwnd is of much interest for understanding this as well if one is familiar with protocol behavior.
my guess is that the limitation is also often from br

[2018-10-24 08:01] lgrahl commented on #377
* Throughput can be calculated,
* I haven't found the number of retransmissions for a specific stream in the SCTP socket API (@tuexen?)
* RTT is #376.

[2018-10-25 21:05] nils-ohlmeier commented on #376
You are assuming that ICE measures RTT in the first place. Which Firefox ICE does not. So if we can get the SCTP RTT instead it helps.

[2018-10-31 10:02] youennf commented on #374
There was no consensus one way or the other on this particular issue.
There was consensus in acknowledging the potential issue in the spec.
I'll write a PR for the latter.

[2018-10-31 10:05] youennf commented on #374
Filed PR https://github.com/w3c/webrtc-stats/pull/380 for that purpose.
I do not think this PR is easily testable.

[2018-10-31 10:41] youennf commented on #375
Filed PR https://github.com/w3c/webrtc-stats/pull/381

[2018-10-31 10:42] youennf commented on #375
In terms of testing, we might be able to do a WPT test by doing:
- Create two PC
- Have one send all candidates and the other none
- Verify that stats do not leak.

This would be more convincing with two different endpoints though. wdyt?

[2018-11-06 09:44] venkatesh-kuppan commented on #229
@ilyanikolaevskiy  Thanks for your input. Do you have any suggestions on how to calculate this delay? I need a common reference at Tx and Rx, to calculate this delay and I have no knowledge of this reference.
I tried accessing PTS/DTS, but this serves no purpose since I do not know when at Tx the frames were sent. Here is a [post ](http://gstreamer-devel.966125.n4.nabble.com/Does-it-make-sense-to-

[2018-11-06 10:04] ilyanikolaevskiy commented on #229
Do you use WebRTC in-chrome, or as a standalone library. In the former case i think you can already access each frame NTP timestamp, which is the capture time of the frame in the receiver clock, Thus, you can detect jumps in two consecutive frame timestamps and see the difference. This timestamp is estimated after we have an RTT estimate, so you either need receiver to send some video back, or ena

[2018-11-06 10:18] venkatesh-kuppan commented on #229
@ilyanikolaevskiy  So far, I haven't used WebRTC in my application. I was looking into WebRTC to analyse if it can be used here. My application uses GStreamer framework, which provides RTP plugins and timestamps, video rendering plugins,  encode/decode plugins, etc. So there are no browser involved as of now, its just plain video rendering using the GStreamer plugins.

Here are the pipelines:

Tx(

[2018-11-15 20:19] jan-ivar opened #382 "RTCPeerConnectionStats appear redundant. Remove?"
There are events for all the data in [RTCPeerConnectionStats](https://w3c.github.io/webrtc-stats/#dom-rtcpeerconnectionstats). Seems redundant, and fails the minimal API test. Can we remove it?

cc @alvestrand @vr000m

[2018-11-15 21:31] vr000m commented on #382
@karthikbr82 is the javascript able to addEventHandler for the events exposed for the datachannel events?

@henbos  I cant quite remember what we discussed before, but there was some stats we wanted to add to PCStats? any idea what those were? It would help If you could link those issues to this request.

[2018-11-16 05:39] alvestrand commented on #382
What do events have to do with it?
There are lots of things that a JS app could measure by counting things happening every time they happen (such as counting outgoing bytes on a datachannel by instrumenting every send() call), but we make these things available in an aggregated fashion by making stats for them.

I don't understand why this is a logical argument in favor of removing the object.

[2018-11-16 19:15] jan-ivar commented on #382
That won't tell you how many bytes were actually sent, or whether the message was fully delivered, since `send()` returns immediately.

I think we should focus on things the JS app cannot easily measure, since we have almost [300](https://webrtc-stats.callstats.io/verify/) stats to implement.

No JS app needs the browser to tell it how often it called `pc.createDataChannel()`, or how often events

[2018-11-21 17:32] aboba opened #383 "R"
For each TURN server we would like to get details on the individual transports (UDP, TCP, TLS).

[2018-11-21 23:43] vr000m commented on #383
@aboba @henbos Since MS and Chrome have implementations of the audio stack, could someone from your team take a first stab at proposals for this?

I am happy to review.

[2018-11-27 20:56] jan-ivar commented on #366
I think I owe a PR here.

[2018-11-29 17:15] alvestrand commented on #358
I think what triggers a generation jump is the ICE ufrag (must double check). Should we show that?
@aboba can you tell us whether we're right?

[2018-11-29 17:19] alvestrand commented on #373
We should use "not present" when the attribute might appear at a later time, while "not applicable" means that it's not present and it never will be, because it can't be. We should review usage.

[2018-11-29 17:25] vr000m commented on #382
Marking the decision as: No. not well enough justified. Closing the issue.

[2018-11-29 17:25] #382 closed

[2018-11-29 18:06] jan-ivar commented on #382
I wrote 5 lines of JavaScript to replace it. What more justification do we need?

[2018-11-29 21:11] na-g commented on #382
@alvestrand , it is possible for the application application to know with certainty how may times it called pc.createDataChannel(). This is not true of bytesSent, the application can only know how many bytes it has requested to be sent and so this stat must be gathered on the caller's behalf. I think this distinction is important.

[2018-11-30 18:03] youennf commented on #374
Reading a bit more how webrtc-stats relate to webrtc-pc, it seems that if we want to precise how/when is exposed networkType, webrtc-pc might be a better place.
Should we move this issue there?

[2018-12-12 14:31] alvestrand commented on #377
these are stats on SCTP transport, not on each datachannel, right?

[2018-12-12 14:31] vr000m commented on #377
@lennart-csio @lgrahl could you make a proposal.

[2018-12-12 14:34] alvestrand commented on #346
Target goal may be an .md file in the repo that says what our test plan is.

[2018-12-13 15:44] henbos commented on #346
Following the link I see Safari but not Edge? Anyway this is great! I think the only suggestion not addressed was being able to filter out stats with duplicate names but I was just thinking out loud I think that's a suggestion we can ignore.

Shall we make a PR linking to the status page from the README.md?

[2019-01-11 15:36] jan-ivar commented on #312
The reason I didn't move them initially is I misunderstood their descriptions—unsure what "sent by receiver" meant in the context of rtp/rtcp. From @alvestrand's https://github.com/w3c/webrtc-stats/issues/312#issuecomment-361946378 it seems:

* firCount: *"only valid for video and is sent by receiver"* -> RTCInboundRtpStreamStats?
* pliCount: *"only valid for video and is sent by receiver"* -> RTC

[2019-01-11 15:48] jan-ivar commented on #312
*qpSum* is also only for some video codecs, I gather?

[2019-01-17 22:19] foolip opened #385 "Mark up duplicate definition of RTCStats dictionary"
https://w3c.github.io/webrtc-stats/#basic-concepts has a duplicate definition of https://w3c.github.io/webrtc-pc/#rtcstats-dictionary, clearly marked as duplicate for a human reader.

However, it's still extracted into https://github.com/tidoust/reffy-reports/blob/master/w3c/idl/webrtc-stats.idl, and a machine readable annotation is needed to exclude it.

@tidoust looking at https://github.com/tid

[2019-01-17 22:42] tidoust commented on #385
@foolip There is no class to omit IDL in Reffy yet. We talked about it in https://github.com/tidoust/reffy/issues/123 but I haven't implemented support for the `extract` class for now.

Reffy extracts the IDL index generated by Respec and Bikeshed, which exclude IDL definitions that have an `extract` class. But the `webrtc-stats` spec does not seem to have any IDL index, so Reffy extracts individu

[2019-01-17 23:12] tidoust commented on #385
@foolip FYI, I have an update ready for Reffy, which I'll merge as soon as I'm able to test it on all specs to make sure I didn't break anything: https://github.com/tidoust/reffy/pull/137

Note I followed Respec's convention that actually reacts on the `exclude` class name (which seems a better name than `extract`) and which also drops IDL definition that appear in informative sections.

[2019-01-18 02:34] foolip commented on #385
Excellent, thank you! @mdittmer, does this match the rules you had for excluding IDL blocks in https://github.com/mdittmer/web-apis?

[2019-01-23 14:21] alvestrand commented on #385
So exactly what should we write? @foolip can you write the PR?

[2019-01-23 14:35] foolip commented on #385
Turns out that nothing needs to be done because this IDL block is in a section with `class="informative"`. After https://github.com/tidoust/reffy/pull/137 was merged, the block went away from reffy-reports:
https://github.com/tidoust/reffy-reports/commit/85b22abe3b0f4c02973a7b37ff6980c82bb182fb#diff-fbaa84965dfc6b232dec19ef1ccb7344

Amazingly, nothing else was removed because of accidentally being

[2019-01-23 14:35] #385 closed

[2019-02-06 14:14] vr000m commented on #376
@nils-ohlmeier I am not opposed to more accurate measurements from across the pipeline. If someone can make a PR, I am happy to review it.

[2019-02-06 14:19] alvestrand commented on #318
Seems that simulcast messes things up in "what lives where". We might want to think about adding another dictionary describing stats for a simulcast layer, possibly defining that the values in the "overall" object is = the highest layer.

[2019-02-08 09:28] karthikbr82 opened #388 "Need to add the fractionLost into the dictionary RTCInboundRtpStreamStats"
https://w3c.github.io/webrtc-stats/#inboundrtpstats-dict*

RTCInboundRtpStreamStats Dictionary is missing fractionLost.

Creating this issue based on an email sent to the public-webRTC group from elias.sun@ringcentral.com

(I filed a bug to the Firefox about the fractionLost is missed in the 'inbound-rtp ‘. However, the guy in the Firefox team complains this field is not in the dictionary RTCInbou

[2019-02-08 16:57] alvestrand commented on #388
This stat is now in the dictionary RTCRemoteInboundRtpStreamStats - it is reporting on the value of a field in an RTCP message; the stat is in a format that is rather problematic (fraction lost since last report sent).

Why do you need this, rather than computing your own loss statistics from # of packets received and # of packets lost, both of which are members of RTCReceivedRtpStreamStats?

[2019-02-12 13:10] henbos commented on #388
Two observations:

- The [Conformance](https://w3c.github.io/webrtc-stats/#conformance) section in webrtc-stats is not up-to-date with the dictionary hierarchy and should be updated. It does however mandate fractionLost. This is not authoritative - "They should put in their document text like this" - (soft "should"), but it certainly sounds like a recommendation.
- The [Mandatory to implement](htt

[2019-02-13 02:33] eliassun commented on #388
hi Henrik, alvestrand,
  I think [Conformance](https://w3c.github.io/webrtc-stats/#conformance) should be updated if it is really out of date.
  I do see Google and Apple implemented the fractionLost in the inbound-rtp, which is useful to me. If the industry has implemented it in the real web browsers, I think it is good to make it official to all browsers.

**Google Chrome implementation:**
 ID:

[2019-02-13 10:55] alvestrand commented on #388
The relevant change is #283 (December 2017) which was based on bug #255.

#283 failed to add RTCInboundStreamStats.fractionLost to "obsolete stats".

I have prepared PR #389 to fix this issue (and also make the note about the conformance text being an example have some words in ALL CAPS for emphasis).

[2019-02-13 18:52] jan-ivar opened #390 "Rename nackCount to nacksReceived & nacksSent respectively?"
From @vr000m in https://github.com/w3c/webrtc-stats/pull/384#pullrequestreview-195542744:

I don't actually think we can afford this at this point due to web compat, but I'm breaking this out as a separate issue, for discussion.

[2019-02-13 20:01] jan-ivar opened #391 "audioLevel can be removed from "track"|"receiver"|"sender" stats"
From https://bugs.chromium.org/p/chromium/issues/detail?id=736403#c10

For getting the value, there is now the getSynchronizationSources API.

if I have the history right, the [getSynchronizationSources()](http://w3c.github.io/webrtc-pc/#dom-rtcrtpreceiver-getsynchronizationsources) got added to the spec to solve the `audioLevel` "track" stat being impractical to poll in real-time. So why don't we

[2019-02-13 20:19] jan-ivar commented on #391
The same probably applies to [RTCRtpContributingSourceStats](https://w3c.github.io/webrtc-stats/#dom-rtcrtpcontributingsourcestats).audioLevel (maybe the whole dictionary?)

[2019-02-13 20:32] fippo commented on #391
removing it will prevent people from attempting to poll this value at a high frequency

[2019-02-14 00:56] eliassun commented on #388
Yes, it sounds reasonable to fix the document only. I am good with the decisions above.

[2019-02-14 13:35] henbos commented on #391
Preventing people to poll getStats() at high frequency for the sake of audio level would be a good thing, but note that getSynchronizationSources()[i].audioLevel is only present on RTCRtpReceiver. There is no such thing as is on the RTCRtpSender - should it? I think so, it's only exposing things that we're already sending in the RTP packets anyway. I filed https://github.com/w3c/webrtc-pc/issues/2

[2019-02-15 04:09] #388 closed

[2019-02-15 04:16] #312 closed

[2019-02-15 04:16] #339 closed

[2019-02-20 20:45] jan-ivar opened #392 "framesDecoded is on both "receiver" and "inbound-rtp""
Their descriptions are identical. Where do we want it to live?
 1. https://w3c.github.io/webrtc-stats/#dom-rtcinboundrtpstreamstats-framesdecoded
 2. https://w3c.github.io/webrtc-stats/#dom-rtcvideoreceiverstats-framesdecoded

The inverse [framesEncoded](https://w3c.github.io/webrtc-stats/#dom-rtcoutboundrtpstreamstats-framesencoded) lives on `"outbound-rtp"`, which suggests (1).

But then [frames

[2019-02-25 22:49] vr000m commented on #348
@pallab-gain and @karthikbr82 put together an interactive:  https://webrtc-stats.callstats.io/graph/

[2019-02-25 22:51] vr000m commented on #348
<img width="865" alt="screenshot 2019-02-25 at 14 50 10" src="https://user-images.githubusercontent.com/382354/53374344-dfe18380-390c-11e9-8c31-ecb15619f4b0.png">

[2019-02-26 09:59] henbos commented on #348
Beautiful!

[2019-03-06 13:36] henbos opened #393 "Correlating RTCInboundRtpStreamStats with simulcast streams"
On the sender side we have multiple "rids", but on the receiver side we only have a single stream. How to tell which stream it correlates to?

[2019-03-06 13:42] henbos commented on #393
Can the CSRCs be used to figure this out, assuming the SFU sends CSRCs that hint the RIDs?

[2019-03-06 13:46] fippo commented on #393
browsers don't receive simulcast and what they receive must look like a single RTP stream.

[2019-03-06 14:15] murillo128 commented on #393
@henbos are you talking about `browser==simulcast=>SFU--stream->browser` or `browser==simulcast =>browser`

[2019-03-06 15:01] henbos opened #394 "Multiple simulcast streams = multiple oubound-rtp streams"

[2019-03-06 15:02] henbos opened #395 "Add RTCOutboundRtpStreamStats.rid"

[2019-03-06 15:02] vr000m commented on #394
This is an informative section that explains how simulcast works

[2019-03-06 15:02] henbos opened #396 "RTC[Audio/Video]SenderStats should have mid"

[2019-03-06 15:03] vr000m commented on #395
This is an identified that is API visible/set and should be available in getStats.

[2019-03-06 15:04] henbos opened #397 "Add RTCOutboundRtpStreamStats.framesDiscardedOnSend"

[2019-03-06 15:04] henbos opened #398 "Add RTCEncodingParameterStats"

[2019-03-06 15:06] henbos opened #399 "Remove RTC[Audio/Video][Sender/Receiver]Stats.remoteSource"
This information is already available based on dictionary type ("sender" means not remote, "receiver" means remote). It is still needed for ye olde "track" stats though.

[2019-03-06 15:07] henbos opened #400 "Add RTCMediaSourceStats"
Stats for a source (track) like captured resolution, framerate, whether or not the track is ended, etc.

[2019-03-06 15:07] vr000m opened #401 "Add SVC stats in RTC[In/Out]boundRtpStreamStats"
perResolutionFramesSent/Received gives the frame counters for each resolution

distributionOfTimeSinceLastFrameSent/Received gives the amount of time between frames, so !% FPS (66.66ms), 30 FPS (33.33ms) and 60 FPS (16.66ms)

[2019-03-06 15:07] henbos commented on #400
This includes removing "ended" from RTC[Audio/Video][Sender/Receiver]Stats

[2019-03-06 15:07] henbos opened #402 "Move all stream stats from the "sender"/"receiver" stats"
Any RTP media related metrics should be placed on "outbound-rtp" or "inbound-rtp" accordingly. One "sender" could have multiple "outbound-rtp" due to simulcast, so having counters on a per-"sender" basis is wrong. For symmetry, conceptual correctness, and for more future-proof way of thinking, we should do the same thing for "receiver" and "inbound-rtp", even though today a "receiver" only ever ha

[2019-03-06 15:11] vr000m commented on #393
we are discussing the first scenario, not about receiving simulcast

[2019-03-06 15:12] henbos commented on #398
This one: https://w3c.github.io/webrtc-pc/#dom-rtcrtpencodingparameters

[2019-03-06 15:21] henbos commented on #399
Move to deprecated

[2019-03-06 15:28] vr000m commented on #402
This may have an impact on track stats...

[2019-03-06 15:30] henbos commented on #378
Closing this issue, follow-up at #400 and #402.

[2019-03-06 15:30] #378 closed

[2019-03-06 15:34] vr000m commented on #398
@aboba suggested also exposing scalabilityModes from https://w3c.github.io/webrtc-svc/#dom-rtcrtpencodingparameters-scalabilitymode

[code]

[2019-03-06 15:34] henbos commented on #396
See also #396

[2019-03-06 15:35] henbos commented on #402
See also #392

[2019-03-06 15:37] vr000m commented on #391
Related to #402

[2019-03-06 15:38] vr000m commented on #392
Related to #402

[2019-03-06 16:07] murillo128 commented on #393
then incoming stream should be a normal RTP stream, either should have an `ssrc` or `mid` to correlate with as any other normal rtp stream, not sure if I understand the issue.

[2019-03-06 16:14] fippo commented on #393
the sender might receive rtcp from the SFU which can show up as an inbound-rtp stream with remoteId set. This will have an SSRC but no rid iiuc

[2019-03-06 20:49] vr000m commented on #361
Related to #402

[2019-03-06 20:51] vr000m opened #403 "Impact on Track Stats because of moving stats from sender/receiver to appropriate in/outbound rtp"
Related #402.

[2019-03-06 20:53] vr000m commented on #403
@pallab-gain @karthikbr82 could you make sure that the tracks have the right stats once @henbos makes the appropriate changes to RTC[In/Out]boundRtpStreamStats

[2019-03-07 12:51] henbos commented on #318
The implications of simulcasts were discussed at length in yesterday's workshop. It spawned a bunch of issues listed below.

- #393
- #394
- #395
- #396
- #397
- #398
- #399
- #400
- #401
- #402
- #403

I will give an overarching proposal on the virtual interim next week (I filed https://github.com/w3c/webrtc-pc/issues/2116). Closing this issue as obsolete given the other issues.

[2019-03-07 12:51] #318 closed

[2019-03-13 09:43] vr000m commented on #393
The issue is about what the receiver knows about the source stream at the SFU.

There are SSRCs received by the SFU, which it may swap and send downstream to the receiving endpoint. i.e., SFU receives A_low and A_high and swaps them in and out when sending it downstream on SSRC B to the received.

The question is -- can the receiver know (via getStats) which stream is being downstreamed to it A_lo

[2019-03-13 09:47] vr000m commented on #393
The answer to this may just be, this cannot be done because this could be signalled via several mechanisms and this is outside of scope of webrtc-pc to mandate.

[2019-03-13 09:49] vr000m commented on #393
One proposal:

I have not thought of this enough, and my first thought was why not use CSRC to indicate which source stream is being carried, at any given time there would be just one, but I dont know if the SFUs are presently using CSRCs to indicate something else.

(in the case of MCUs, they MAY use a set of CSRCs to represent which streams are mixed but here we are not mixing but switching so .

[2019-03-13 09:52] murillo128 commented on #393
I thought it was about the value `remoteId`  of the stats from the incoming stream on the same transceiver in which it was sending simulcast.

Regarding correlating the stream received by the "browser 2" from the SFU with the simulcast stream sent by "browser 1" to the SFU, I don't think it will be possible. The SFU will not negotiate the `rid` values with the "browser 2" so even if they are not r

[2019-03-13 09:54] murillo128 commented on #393
@vr000m I don't think any SFU is actually using the CSRCs at all

[2019-03-13 09:56] vr000m commented on #393
@murillo128 Since for all practical purposes the RTP Session terminates at the SFU -- we cannot use SSRCs across RTP Sessions (I should check the taxonomy draft for the proper terminology) and any idea to reuse it across sessions is brittle when there are a large number of participants.

[2019-03-13 09:56] vr000m commented on #393
:) then technically -- it could be used 🕺

[2019-03-13 09:59] murillo128 commented on #393
@vr000m even if they could be used, how would you correlate the information with the appropiate participant and the with it's ssrcs? It would require external coordination.

Anyway, if it is just exposing the CSRCs values in the stats and not adding any other logic, why not. (is it not already done for MCUs?)

[2019-03-13 10:03] vr000m commented on #393
Yeah, it would require external co-ordination, but that is not heavy lifting IMO. because you could do that easily in post analysis..... unless... hmmm... two endpoints streaming to the SFU use the same SSRCs for their outbound streams? =)

[2019-03-18 09:27] henbos opened #405 "Clarify concealedSamples"
concealedSamples is said to be "data that was synthesized to conceal packet loss". But the packet might not have been lost, it may arrive late. Let's add a clarification.

[2019-03-18 09:42] henbos opened #407 "Add stats for accelerating/decelarating playout speed"
The concealedSamples counters only cover samples inserted to conceal packet loss/packets arriving late. These samples are produced when we don't have the necessary non-concealed samples in the buffer.

However, samples may be inserted or removed for other reasons when we do have samples in the buffer. Adding or removing samples for these other reasons can affect quality and we should have metrics

[2019-03-18 09:51] henbos opened #409 "Add counters for the subset of concealedSamples that are not silent"
There is a qualitative difference between concealed samples that were produced as silence and concealed samples that were produced as non-silence. Having counters for this is important in order to measure audio quality.

Proposal:
- audibleConcealedSamples: The total number of concealed samples inserted that are non-silent. This is a subset of concealedSamples.

Products that are relying on Chrome

[2019-03-18 10:48] henbos opened #411 "Add error correction metrics"
Some packets contain contain payload for error correction, which may end up getting used or it may end up getting discarded. Having metrics for this indicate the health of the connection, and because error correction payloads may not result in as high quality as the "real" payloads, this is also good to help diagnose quality issues.

Proposals:
- errorCorrectionPacketsReceived: The total number of

[2019-03-18 11:19] henbos commented on #411
@alvestrand @vr000m I wonder if fecPacketsReceived is the same as errorCorrectionPacketsReceived, and if so errorCorrectionPacketsDiscarded should be fecPacketsDiscarded

[2019-03-18 11:24] henbos commented on #411
It looks like the same thing, only our metric was audio-only and fecPacketsReceived is for both audio and video.

New proposal:
- Add fecPacketsDiscarded as the subset of fecPacketsReceived that were discarded (see errorCorrectionPacketsDiscarded definition above).

[2019-03-18 12:01] vr000m commented on #409
@henbos

This is reopening an old discussion. We should define Silence and then do the inverse metric instead? i.e., `silentConcealedSamples` or similar.

[2019-03-18 12:09] vr000m commented on #407
JitterBuffer are proprietary and the methodologies to mitigate these issues are also proprietary. However, I do agree that we should be able to measure jitterbuffer metrics, and there should be metrics for both audio and video:

+ Underflows -- there should be a metric that measures underflow, when the JB is empty. Adding concealment packets because the jitterbuffer is empty should still be counte

[2019-03-18 12:58] vr000m commented on #405
I thought the packet that arrived late is discarded from the Jitter Buffer and never makes it to playout.

Maybe it should be... "conceal missing packets during playout."

[2019-03-19 15:07] #411 closed

[2019-03-20 14:03] #405 closed

[2019-03-20 14:05] #409 closed

[2019-03-20 14:39] alvestrand commented on #390
Closing this one as "won't do because it's implemented with the old name".

[2019-03-20 14:39] #390 closed

[2019-03-24 10:30] #394 closed

[2019-03-24 17:30] dontcallmedom opened #414 "References to undefined RTCReceiverAudioTrackAttachmentStats and RTCReceiverVideoTrackAttachmentStats"
The definition of `trackId` in`RTCInboundRtpStreamStats` refers to `RTCReceiverAudioTrackAttachmentStats` and `RTCReceiverVideoTrackAttachmentStats`, but no such dictionaries exist.

[2019-03-25 14:17] vr000m commented on #414
This may depend on the Issue opened by @henbos on #403.

[2019-04-01 17:01] jan-ivar commented on #407
@henbos Can you elaborate on the "other reasons"? Glad to hear these may help aid convergence, just making sure we understand the use case, so we describe it in the spec correctly.

[2019-04-02 07:38] henbos commented on #407
@jan-ivar In the latest version of [the PR](https://github.com/w3c/webrtc-stats/pull/408) we are defining these as the difference between number of samples received and number of samples played out due to slowing down or speeding up playout. For example, an implementation may achieve speedup by removing every X samples, and removedSamplesForAcceleration would increase by X. Another implementation

[2019-04-03 09:24] henbos opened #416 "Rethinking RTCOutboundRtpStreamStats.targetBitrate"
Knowing something about the target encode bitrate is important, for example when debugging issues related to too large frames being encoded.

The current definition of [targetBitrate](https://w3c.github.io/webrtc-stats/#dom-rtcoutboundrtpstreamstats-targetbitrate) is:

Two problems:
- Measuring the bitrate over a 1 second window is not what implementations necessarily should do. Chrome doesn't. We

[2019-04-03 09:28] alvestrand commented on #416
Given that targetBitrate is currently deployed, and easily understandable, my suggestion is to fix that by removing the "calculated over an 1 second window" text and replace it with "This statistic gives the configured target bitrate at the time of the stats timestamp".

I'm all in favor of adding targetTotalBytesEncoded as a new stat, in order to give the ability to inspect history, but I'm not i

[2019-04-03 09:47] henbos commented on #416
OK. Updating the "calculated over an 1 second window" is enough to unblock me, and targetTotalBytesEncoded is a nice bonus. I'll make a PR with both changes and we can follow up there.

[2019-04-03 10:06] henbos opened #418 "RTCOutboundRtpStreamStats.retransmitted[Bytes/Packets]Sent"
In the case of RTX this happens on separate SSRCs and this separate RTCOutboundRtpStreamStats with separate bytesSent counters, but for good ol' fashioned retransmissions we don't have counters. The existing [bytesSent](https://w3c.github.io/webrtc-stats/#dom-rtcsentrtpstreamstats-bytessent) is "Total number of bytes sent for this SSRC".

Being able to tell how many bytes/packets were retransmissi

[2019-04-03 11:36] henbos opened #420 "Stats for the delay of packets being sent"
Proposal: A metric that measures the time between each packet being produced and it being sent onto the network.
This is similar to jitter buffer delay but for the sender.

[2019-04-03 11:42] #407 closed

[2019-04-03 12:57] henbos opened #422 "Capture vs encode frameWidth, frameHeight and framesPerSecond"
These currently exist in [RTCVideoHandlerStats](https://w3c.github.io/webrtc-stats/#dom-rtcvideohandlerstats). For frameWidth/Height, "width/height of the last processed frame for this track" it is not clear if "processed frame" of outbound media refers to frames before encoding (captured frames) or frames after encoding (i.e. frames sent). But framesPerSecond is clear: "For sending tracks it is t

[2019-04-03 13:33] alvestrand commented on #414
RTCSenderAudioTrackAttachmentStats exists. I think we're missing the other 3 (empty) dictionaries.

[2019-04-04 09:11] henbos opened #423 "Make targetBitrate obsolete (was: targetBitrate should not be "measured over 1 second window")"
This is a spin-off issue from #416.
While rate measurements have to be measured over a specific time interval, a "target" is not a measurement, it is a goal, this could vary on a frame-by-frame basis and depending on your framerate you might have to overshoot or undershoot this to different degrees for a particular frame. There's also a difference between key frames and non-key frames and the natu

[2019-04-04 09:12] #416 closed

[2019-04-04 09:14] henbos commented on #423
Quoting @vr000m from previous discussions:

[2019-04-04 09:20] #418 closed

[2019-04-04 13:29] #346 closed

[2019-04-05 12:42] henbos opened #424 "Receiver attachment stats missing"
RTCReceiverAudioTrackAttachmentStats and RTCReceiverVideoTrackAttachmentStats are referenced by [RTCInboundRtpStreamStats.trackId](https://w3c.github.io/webrtc-stats/#dom-rtcinboundrtpstreamstats-trackid), but these do not exist.

These are from the old way of thinking, before we had "receiver" stats, as a receiving track attachment stats object would be identical to the "receiver" stats object. H

[2019-04-05 12:42] henbos commented on #414
I filed #424 which covers this one, merging this into that.

[2019-04-05 12:42] #414 closed

[2019-04-05 12:43] henbos commented on #424
See also #403, though I think this needs to be addressed regardless.

[2019-04-05 16:11] jan-ivar commented on #424
I vote for this. There's no symmetry here, so appearance of symmetry where there is none, is a problem rather than a desirable property IMHO.

There are no "track attachments" on the receiver. `"receiver"` stats and `"track"` stats are 100% the same.

[2019-04-08 07:56] henbos commented on #424
Opinion poll: Long term, assuming all browsers had sender and receiver stats fully implemented, would you like to see "track" stats as something mandated or as legacy section dictionary? @jan-ivar
I've viewed it as a remnant of the "old way" of thinking, though it's arguably a useful slicing of the "sender" stats, that combined with onstatsended...

[2019-04-08 17:34] jan-ivar commented on #424
I think we should ask:
 1. Do we need "track" stats sender-side?
 2. Do we need "track" stats receiver-side?

I don't think they're related, and I think the answer to 2. is unequivocally no.

[2019-04-08 19:38] vr000m commented on #424
2. Tracks at the receiver are not needed. because they are not supposed to change.

On the sender, I am still waiting to see how we get around the replace tracks issue.

[2019-04-09 09:47] henbos opened #425 "Byte/packet counter type consistency (retransmittedPacketsSent is unsigned long long)"
Generally speaking, currently in the spec byte counters are "unsigned long long" but packet counters are "unsigned long". Should we continue this pattern or should we use "unsigned long long" for everything?

A recent PR added both retransmittedBytesSent and retransmittedPacketsSent. Both were added as "unsigned long long". Should retransmitedPacketsSent be "unsigned long"?

[2019-04-09 15:19] henbos opened #426 "RTCRemoteInboundRtpStreamStats: total round trip time"
[RTCRemoteInboundRtpStreamStats.roundTripTime](https://w3c.github.io/webrtc-stats/#dom-rtcremoteinboundrtpstreamstats-roundtriptime) is only the [latest estimate](https://tools.ietf.org/html/rfc3550#section-6.4.1) (scroll down to "delay since last SR (DLSR): 32 bits").

To allow calculating averages we should do the same thing that we did with regards to RTCIceCandidatePairStats - have a `totalRou

[2019-04-09 16:14] vr000m commented on #426
No issues with doing `totalRoundTripTime` And IIUC you are making a proposal for `reportsReceived` and `reportsSent`, which I thought we already had... if we dont have these, it makes sense to add them.

if we go with reportSent/Received, I would ament the above . to do totalRtcpInterval and divide it with the report counters.

---

Reasons  we were fine with the most current value or latest RTT e

[2019-04-09 17:14] wssjwl opened #427 "Request to add neteq waiting time to stats report"
Stats to be added

max_waiting_time_ms
mean_waiting_time_ms

Justification
* These are useful to understand how network was operating.  Existing metrics such as plc/cng/plccng/etc do not provide enough insight that waiting time provides.
* The metrics have already been calculated and have been collected by acm_receiver.  However, it was dropped by audio_receive_stream.  Hence, it is not being used

[2019-04-10 09:39] henbos commented on #427
What are the definition of these metrics?

[2019-04-10 19:06] aboba commented on #383
Note: Edge enables SNR calculation on local audio only, so perhaps this issue should refer to RTCAudioSenderStats instead of RTCAudioHandlerStats.  The following tap points are provided:

* Signal levels as captured from the mic (pre AEC or any other processing such as AGC)
* Signal levels post WebRTC DSP such as AEC
* Signal levels post NetEQ on the render side
* Signal levels post any signal pro

[2019-04-11 21:07] wssjwl commented on #427
max_waiting_time_ms: max packet waiting time in the jitter buffer (ms)
mean_waiting_time_ms: mean packet waiting time in the jitter buffer (ms)

They are defined in modules/audio_coding/include/audio_coding_module_typedefs.h

[2019-04-12 10:17] henbos commented on #427
The [jitterBufferDelay](https://w3c.github.io/webrtc-stats/#dom-rtcaudioreceiverstats-jitterbufferdelay) (also exists for [video](https://w3c.github.io/webrtc-stats/#dom-rtcvideoreceiverstats-jitterbufferdelay)) is the sum of "each sample [or frame] takes from the time it is received and to the time it exits the jitter buffer takes from the time it is received and to the time it exits the jitter b

[2019-04-12 10:18] henbos commented on #427
In Chrome I believe this is already implemented for audio. This issue is for implementation status of the equivalent video metrics: https://bugs.chromium.org/p/webrtc/issues/detail?id=10450

[2019-04-12 10:20] henbos commented on #427
And max: Would this max for the duration of the entire call, or a "recent max"? "Recent" values are a bit iffy, but "for the duration of the entire call" metrics are also a bit iffy since this seem to assume you're not interested in long-running services.

[2019-04-12 16:52] wssjwl commented on #427
Yeah, it is possible to poll jitterBufferDelay.  The downside is computational cost involved.  Given the current implementation of RTCStatsReport, I have to poll the entire report each time just to compute one or two values.  Whereas bringing those two variables into report can help to avoid all the hassle.  An alternative option is to have a few light-weight polling method focusing on smaller set

[2019-04-12 17:55] henbos commented on #427
I agree that you don't want to poll getStats() too often, I usually recommend once every second or every few seconds.

jitterBufferDelay is a sum of all delays of all samples, which means you can calculate the average for any interval you desire by dividing the difference between two snapshots and divide by the time difference. For example, if you poll getStats() once every second, you can calcula

[2019-04-12 17:58] henbos commented on #427
You're right, it's not on the roadmap. The idea has been discussed before, but the API and codebase is is not friendly for per-metric polling. I don't see this happening, unfortunately.

If we feel the need to poll something more than roughly once per second then it probably should belong to a different API than getStats().

[2019-04-12 17:58] henbos commented on #427
(This is why audioLevel was added to getSynchronizationSources().)

[2019-04-15 19:33] aboba opened #429 "RTCSenderAudioTrackAttachmentStats: Audio Device Errors"
Audio device errors can occur when attempting to initialize a microphone or speaker, or they can occur on an ongoing basis.  When occurring at initialization, an error will result in the `getUserMedia` promise being rejected with a new `DOMException` object whose name attribute has values such as `NotReadableError` or `AbortError` (see Media Capture and Streams Section 10.2).   Currently there is

[2019-04-15 19:40] aboba opened #430 "RTCVideo*Stats: Video Device Errors"
Currently statistics relating to video tracks do not measure video device errors, such as:

o       Video Camera: Count of frames dropped due to wrong format received
o       Video Camera: Count of frames dropped due to pipeline not ready
o       Video Camera: Count of frames dropped due unexpected conditions
o        Video Camera: Overall delay due to camera opening including retries

[2019-04-15 19:41] aboba opened #431 "Additional Audio/Video Quality Metrics"
Some additional audio/video quality metrics may be useful, such as:

o       Video packet loss rate measured on the outbound stream (%)
o       Number of IDRs sent per stream per minute
o       The number of IDR recoveries per minute sent
o       The number of IDR recoveries per minute received
o       The RMS across the QP values of the received frames
o       Mean of audio/video rendering to cap

[2019-04-16 14:50] jan-ivar commented on #429
What audio device? An audio track can come from all sorts of places: *element.captureStream*, *web audio*, another *RTCPeerConnection* track, *getDisplayMedia*, and *getUserMedia* (the microphone).

This seems out of scope for `pc.getStats`, whose scope is to report on the peer connection IMHO.

[2019-04-16 15:06] #431 closed

[2019-04-16 18:36] vr000m opened #432 "OPUS -- Exposing SILK or CELT mode in getStats"
We've found that Opus performance can vary depending on what mode it is in. Especially, when it transitions from one mode to another, and it is currently impossible to know when that transition occurs or what mode the encoder is in to begin with.

I am not sure how this information could be exposed in getStats. Any thoughts or proposals?
For example -- counters for each mode, and start-mode and cu

[2019-04-16 18:38] vr000m commented on #430
Where is this measured? between the camera and the encoder?

[2019-04-16 20:43] jan-ivar commented on #430
Seems out of scope to me, unless we're planning a `getStats` API in mediacapture. See https://github.com/w3c/webrtc-stats/issues/429#issuecomment-483694795

[2019-04-16 22:31] na-g commented on #432
@vr000m do other codecs have similar mode switching behaviors?

[2019-04-17 09:03] vr000m commented on #432
As far as I can tell that Opus is a single codec that combined two codecs. Although the SILK codec is not exactly like the SILK in Skype... however, there is a hybrid mode in Opus when a combination of both are used.

I would try to solve this problem rather than look for a general solution.

[2019-04-17 13:35] henbos commented on #427
Submitter input needed: is max really needed, given that you can poll this every second?

[2019-04-17 13:48] vr000m commented on #429
Open an error/issue on peerconnection or media-capture.

We would consider these if these were measured as counters.

[2019-04-17 13:48] #429 closed

[2019-04-17 13:58] henbos commented on #430
Can we split these up into...
- Device errors (mediacapture issue?).
- Error where the RTCRtpSender / encoder / packetizer isn't getting what it expects (webrtc-stats issue).
- Error where the RTCRtpReceiver isn't getting what it is expecting, i.e. packets discarded or decode failures (webrtc-stats).

[2019-04-17 14:00] henbos commented on #432
We could have opus-specific counters?

[2019-04-17 14:04] vr000m commented on #432
@aboba will provide addition information on the current stats from Opus.

[2019-04-17 16:34] wssjwl commented on #427
Yes.  It is needed.  Polling essentially gives mean only.

[2019-04-17 16:49] henbos commented on #427
OK thanks

[2019-04-17 18:22] wssjwl commented on #427
Thank you for your patience.  Please let me know your decision and plan.

[2019-04-24 11:26] henbos opened #433 "The spec has incorrect assumptions abound SR and RR"
The spec seems to assume that RTCRemoteInboundRtpStreamStats map 1:1 with a Receiver Report and RTCRemoteOutboundRtpStreamStats map 1:1 with a Sender Report. This may be true when there is only one stream in one direction, but talking with the network folks this does not seem to be true in general.

For example, when both sending and receiving, the "remote-inbound-rtp" objects correspond to _Repor

[2019-04-24 11:28] henbos commented on #433
^--- needs more set of eyes to verify @alvestrand @jan-ivar

[2019-04-24 11:42] fippo commented on #433
I think saying "Sender Report" and "Receiver Report" is ok, its more useful to think of this as a compound rtcp packet. The only place where I would change it is "Compound packets must contain at least a RTCP RR or SR packet and an SDES packet with the CNAME item. "

[2019-04-25 18:53] jan-ivar commented on #433
Thanks @henbos for filing this.

Reading https://www.freesoft.org/CIE/RFC/1889/18.htm helped me. Thanks @na-g!

Apparently, SRs can contain zero or more receiver report blocks, reporting on both directions at once.

RR is an optimization, in other words.

This seems to conflict with this spec's colloquial use of *"Sender Report"* to mean *"the report the sender sent us"*, and *"Receiver report"* t

[2019-04-26 08:39] henbos commented on #433
/me trying to implement RTCRemoteInboundRtpStreamStats primarily for the sake of roundTripTime and getting confused several times :) thanks for checking

[2019-04-29 10:44] henbos opened #434 "Add RTCInboundRtpStreamStats.totalDecodeTime"
In #150 we added totalEncodeTime. Should we add totalDecodeTime too?
Arguments for and against would be similar as for totalEncodeTime. This could replace googDecodeMs in Chrome's legacy getStats API.

[2019-05-06 21:06] vr000m commented on #433
SR and RRs can be sent separately or together in a single message depending on the situation (also implementation).

RTP-USAGE draft explains this --- https://tools.ietf.org/html/draft-ietf-rtcweb-rtp-usage-26#section-4.1 as "Support for sending and receiving RTCP SR, RR, SDES, and BYE packet types."

We could make the change to `RTCP RR packet types` instead of reports or messages.

[2019-05-06 21:08] vr000m commented on #432
@henbos could someone from Google weigh in on this?

[2019-05-06 21:10] vr000m commented on #427
what was the final proposal?
+ total wait time (with number of packet/samples will give mean)
+ max wait time

[2019-05-06 23:06] wssjwl commented on #427
meanWaitingTimeMs and MaxWaitingTimeMs.  The data has been collected in acm_receiver.cc.

You can find them in acm_receiver.cc.  Copied their reference below.

  acm_stat->meanWaitingTimeMs = neteq_stat.mean_waiting_time_ms;
  acm_stat->maxWaitingTimeMs = neteq_stat.max_waiting_time_ms;

[2019-05-06 23:22] vr000m commented on #427
jitterBufferDelay gives the total and when divided by number of framesReceived gives the mean waiting time, probably measure in seconds. So that is done.

@wssjwl @henbos  could you create a PR for `jitterBufferMaxDelay` (measured in seconds for consistency with other JB metrics)?

[2019-05-06 23:23] vr000m commented on #434
@henbos Please create a PR :)

[2019-05-15 16:05] #420 closed

[2019-05-15 16:13] alvestrand commented on #427
I'm not convinced that max is really useful for diagnosing stuff. If you have a max, all you know is that at some point in the lifetime of the call, this max was recorded. What problem would this help you diagnose?

[2019-05-15 16:17] alvestrand commented on #427
Unless we hear a compelling reason to include this value, we will close the issue.

[2019-05-15 16:22] alvestrand commented on #401
This requires rethinking, and perhaps more people's input.

[2019-05-20 13:33] #400 closed

[2019-05-20 13:33] #422 closed

[2019-05-20 13:35] henbos opened #436 "Fix RTCMediaSourceStats typo"
RTCAudioSourceStats and RTCMediaSourceStats have a typo, referring to [RTCMediaSourceStats](https://w3c.github.io/webrtc-stats/#mediasourcestats-dict*) as "RTCMediaStreamSource"

Travis was broken so it was not noticed on recent PR https://github.com/w3c/webrtc-stats/pull/435

[2019-05-21 12:00] henbos opened #437 "RTCStats.id should not be "predictable""
This is a request to change webrtc-pc, but filed the issue here to grab the attention of stats editors.

[Current definition](https://w3c.github.io/webrtc-pc/#dom-rtcstats-id):

Based on being free to pick any format, Chrome's implementation generates IDs that follow patterns that are "easy" to predict. For example, outbound-rtp have IDs "RTCOutboundRTP[Audio/Video]Stream_[ssrc]". Having a predict

[2019-05-21 12:03] henbos commented on #437
(The ID of course has to be stable over multiple calls to getStats, but the first time you see a stats object you shouldn't be able to guess it's ID)

[2019-05-21 12:19] alvestrand commented on #437
The human-readable names make some types of debugging easier (make it obvious what type the pointed-to object in an 'Id' attribute points to, for instance), but once everything works, obscuring the ID doesn't seem to have very big downsides.
Note: base64(sha1(predictable-string)) is, to all intents and purposes, unpredictable.

[2019-05-21 14:20] henbos commented on #437
That's a good idea :)

[2019-05-23 13:35] jan-ivar commented on #437
Firefox has the same problem. We're happy to fix this since I agree doing so would improve web compatibility.

[2019-05-24 12:53] henbos opened #438 "Move packetsDiscardedOnSend to RTCIceCandidatePairStats"
See discussion at https://bugs.chromium.org/p/webrtc/issues/detail?id=10457#c4

[2019-05-24 12:55] henbos commented on #438
Since you said packetsDiscardedOnSend is on your wish list @vr000m, can I assign it to you for you to make a PR?

[2019-05-24 12:55] henbos commented on #438
Ready for PR unless there is an objection to this move.

[2019-05-27 09:57] henbos opened #439 "Clarify the lifetime of remote-* stats objects"
I noticed this when implementing RTCRemoteInboundRtpStreamStats, but the same should apply for RTCRemoteOutboundRtpStreamStats.

The [spec says](https://w3c.github.io/webrtc-stats/#the-rtp-statistics-hierarchy):

With regards to remote-inbound-rtp: Report Blocks are sent on one SSRC but they contain information about an outbound-rtp that may be a different SSRC. I interpreted the spec to mean this

[2019-05-28 08:32] vr000m commented on #439
Based on https://tools.ietf.org/html/rfc3550#section-6.4.1 -->
+ SSRC of sender (SSRC which is sending the report)
+ SSRC_1 (SSRC of first source, the metrics pertain to this SSRC)

Based on your implementation, In the remote inbound report, which one goes where?

cc: @karthikbr82 @lennart-csio

[2019-05-28 09:02] karthikbr82 commented on #439
Hello,

The https://webrtc-stats.callstats.io/ is based on the Latest published
version - https://www.w3.org/TR/webrtc-stats/

We will change it to use the Latest Editor's Draft and let you know once we
update it.

Regards,

On Tue, May 28, 2019 at 11:32 AM Varun Singh <notifications@github.com>
wrote:

--
http://www.callstats.io
Analytics and Optimizations for WebRTC.

[2019-05-28 09:26] henbos commented on #439
In our implementation, RTCRemoteInboundRtpStreamStats.ssrc = the ssrc that the report block was delivered on and RTCRemoteInboundRtpStreamStats.localId = reference to the outbound-rtp that the report block is describing; the RTCOutboundRtpStreamStats.ssrc would be the ssrc described in the report block.

[2019-05-28 09:26] henbos commented on #439
In Chrome, I would expect the RTCRtpStreamStats.ssrc of any of the dictionaries to be a constant. New ssrc = new stats object.

[2019-05-28 11:17] henbos opened #440 "Clarify qualityLimitationReason when limited by multiple reasons"
qualityLimitationReason can be "cpu" or "bandwidth", not both. We should clarify what to do in this case, such as to prioritize "bandwidth" over "cpu".

[2019-05-31 12:35] henbos opened #441 "Clarify jitterBufferDelay/jitterBufferEmittedCount for video"
I'm not sure "jitter buffer" is well defined for video. There are various buffers, so for example, does this include decoding time or not?

[2019-05-31 12:35] henbos commented on #441
When does the time start and when does the time end?

[2019-06-06 18:46] jan-ivar commented on #399
I agree with this. Removal also solves the ambiguity of its language: *"True if the source is remote, for instance if it is sourced from another host via an RTCPeerConnection"*

In the [forwarding case](https://webrtc.github.io/samples/src/content/peerconnection/multiple-relay/), where a track from one peer connection is feed into another, this would return `true`, confusing code relying on `remot

[2019-06-11 15:27] henbos opened #443 "Detecting Video Playback glitches"
Chrome's legacy stats has "googInterframeDelayMax".
This can help detect if any time during the call there was a large delay between frames such as a glitch.

The standard API has stats useful for detecting long freezes, such as by looking at framesPerSecond, framesReceived and lastPacketReceivedTimestamp.

But if a minor freeze/glitch occurs of say 100 ms this might not be noticed by an applicati

[2019-06-12 07:50] ilyanikolaevskiy commented on #443
The old metric returns the max for 1 second window. It's designed, so that application polling getStats every second would notice any glitches. It can be alternatively changed to be a maximum inter-frame delay since the last GetStats call.

No other aggregation than max can help to identify such glitches: after a 100ms glitch, next frames would be decoded and sent for render almost immediately. So

[2019-06-12 08:27] henbos commented on #443
Returning something for a recent interval has precedence in another WebRTC API: getSynchronizationSources() and getContributingSources() (in that case returning information related to recent RTP packets for the last 10 s).

"Since last call to getStats()" is nice in many ways but something we have purposefully avoided for all other metrics because it breaks use cases where there are multiple stats

[2019-06-12 08:45] ilyanikolaevskiy commented on #443
Yes, I agree that the second option is not so good.

Regarding the third option, it might be even just a list of interframe delays, since (usually) there's no so many frames per second. The bucket is tricky, since it's not clear what should the rages be. It should also depend on frame-rate.

[2019-06-12 22:50] jan-ivar commented on #393
My question here is mostly an API one: when simulcast is used, say with two layers, I suppose `remoteId` of both `"outbound-rtp"` entries could point to the same `"remote-inbound-rtp"` stat. But in that `"remote-outbound-rtp"`, where does the `localId` backpointer point?

[2019-06-12 23:16] jan-ivar commented on #393
*(I deleted a comment as I got confused about remote stats in the SFU case).*

Thanks, this helps clarify. So we get rtcp data for each layer?

So `"remote-inbound-rtp"` on the sender will come from the SFU—rather than the ultimate recipient—one for each layer? Then once we fix https://github.com/w3c/webrtc-stats/issues/395 we can do `stats.get(stat.localId).rid`.

And on the (ultimate) receiver,

[2019-06-13 09:42] henbos opened #444 "Type stunserverconnection should be stun-server-connection"
For consistency with other types (e.g. local-candidate, not localcandidate).

[2019-06-13 10:11] henbos opened #445 "We should move RTCCodecStats.implementation to RTC[In/Out]boundRtpStreamStats"
The set of codec objects is a list based on capabilities and what is negotiated in the SDP.
Which encoder is instantiated for a given codec could theoretically be different for different RTP streams, and is a decision that could be made on-the-fly. When we create codec objects we don't know the implementation. In Chrome, one could start with a HW encoder, but then due to HW encoder errors, it fall

[2019-06-13 10:30] fippo commented on #444
can the name be changed to something less "ugly" as well? `ice-server` for consistency with RTCIceServer, dropping the "connection" because when running over udp there is no connection?

[2019-06-14 08:48] vr000m commented on #445
Because of the webrtc-stats polling, we cannot precisely know when the codec changed, but I would like webrtc-stats to show the current status of the codec implementation.

[2019-06-14 09:00] henbos commented on #445
And current status is a per-instantiation (e.g. per-outbound-rtp) of a codec, not per-codec. Let's move ;)

[2019-06-14 10:25] vr000m commented on #445
It makes sense to do it per instantiation.

However, if I wanted to know which other codecs were available, how would I do that?

cc: @karthikbr82 @mvarela @pallab-gain

[2019-06-14 10:33] vr000m commented on #399
For an application layer multicast, each node in the tree is forwarding media from one hop-to-another. In this case, a peerconnection will take the output from one peerconnection and attach it to the other peerconnection.

In this case, we would like to keep the `remoteSource`.

[2019-06-14 11:26] karthikbr82 commented on #445
@vr000m I think we can still obtain all the codes supported using getParameters.

[2019-06-14 11:39] henbos commented on #399
I don't understand what multicast or piping peer connections have to do with remoteSource. It should have no relevance? Can you explain what you would expect to happen?

[2019-06-14 11:47] henbos commented on #445
Yes and also there will be codec objects from all negotiated codecs, for each payload type, I'm not suggesting moving all of RTCCodecStats. The question here is only about encoder/decoder implementation. This is a very implementation-specific string as well, I don't think we should do more fingerprinting and bloat than we have to, especially since there is no API for controlling which implementati

[2019-06-14 11:56] vr000m commented on #440
One will typically happen before the other or over-ride the other.

For example quality is first limited by CPU and then further limited by bandwidth (it is bandwidth) or quality is limited by CPU and bandwidth does not constrain the number further (CPU).

[2019-06-14 13:46] henbos commented on #440
If you are limited in either case, that makes you less limited in the other case, these cannot be measured independently because any limitation changes the resource load of both resources (CPU and bandwidth). It really is not clear whether an implementation should say "cpu" or "bandwidth" in a given scenario that is some amount of limited in both. I think the order of detection ("first CPU was det

[2019-06-14 13:48] vr000m commented on #443
bursts metrics are the best way to do something like this.

Define a minimum time threshold that would invoke the counter, total duration metric that would count up all freeze durations, and a max frozen duration which would be the maximum observed freeze duration.

typically, I would do something like:
[code]

[2019-06-14 13:52] vr000m commented on #444
@lennart-csio PTAL

[2019-06-14 14:27] henbos opened #446 "What should RTCInboundRtpStreamStats.fractionLost be if RTCP is disabled?"
inbound-rtp.fractionLost is based on the interval between sent RTCP packets per [RFC3550 Appendix A.3](https://tools.ietf.org/html/rfc3550#appendix-A.3). It is not clear what to do if RTCP is disabled. Chrome currently does "since last call to getStats" which is clearly wrong.

Considering this does not seem very useful outside of RTCP, and we already have packetsLost on the inbound-rtp, I propose

[2019-06-14 14:30] henbos commented on #446
I discussed this with @niels-moller and I think we should file a crbug

[2019-06-14 15:18] vr000m commented on #446
RTCP cannot be disabled. Or do you mean it’s not implemented?

On Fri, 14 Jun 2019 at 17.27, henbos <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-06-17 07:59] ilyanikolaevskiy commented on #443
@vr000m, This could help to detect glitches but this metric must be tuned first. It also should depend on a frame-rate, because 200ms inter-frame delay for 5 fps video is great, yet of 30fps it's terrible. Then the problem arises - the actual frame-rate may be anything other than configured value, because e.g. a capturer is being too slow. So now the threshold value should depend on the measured f

[2019-06-17 09:22] henbos commented on #446
I'm not sure, but if it's possible to negotiate with an endpoint that doesn't support it and so we end up not sending it, then this is still an issue. I saw in third_party/webrtc code that there was a flag for if it was enabled or not, but I'm not sure what flips that switch. Let's check...

[2019-06-20 04:49] jan-ivar commented on #446
`fractionLost` was *"[moved](https://w3c.github.io/webrtc-stats/#obsolete-rtcinboundrtpstreamstats-members) moved to RTCRemoteInboundRtpStreamStats"* which only exists when RTCP is available.

[2019-06-20 08:25] henbos commented on #446
Oooh :) This is a non-issue then

[2019-06-20 08:25] #446 closed

[2019-06-20 09:48] alvestrand commented on #439
After some brief discussion, I think we have concluded that the remote inbound RTP stats should have the ssrc of the RTP packets it's reporting on - that is, the current implementation in Chrome is wrong.
Much spec navigation, easy fix in the end!

[2019-06-20 12:57] henbos commented on #439
A sober reading of the spec would probably have you conclude this as well, but I think there is room for clarification of the RTCRtpStreamStats.ssrc field. But I think we can remove the CR blocker.

[2019-06-25 14:32] henbos opened #448 "Audio samples and channels"
totalAudioEnergy is based on totalSamplesSent or totalSamplesReceived, as is totalSamplesDurations.
These are all based on number of samples.

The spec never mentions audio channels though. The current implementation in Chrome calculates all of these things without taking the number of channels in to account. For example, assuming no packet loss, the totalSamplesDuration increase by 1 second per s

[2019-06-26 08:00] henbos opened #449 "Outbound audio levels"
audioLevel, totalAudioEnergy and totalSamplesDurations are currently on the "track" or "sender" stats objects. This raises several questions in my head:
- They are tied to samples sent, should all of these really be moved to "outbound-rtp"?
- Hang on, if these are samples sent, that means that using these for audio indication of the microphone is broken if you are not connected?

Instead, should w

[2019-06-26 09:19] henbos commented on #449
I'll make a suggestion to keep them on the receiving end (though part of #402 might be to move them to inbound-rtp), but to remove them from the sending end in favor of adding similar metrics to the "media-source". The difference is they will be based on samples produced by the media source, not samples successfully sent onto the network.

[2019-06-26 09:28] henbos commented on #391
Also related to #449. What's currently broken in Chrome is the sender-side audioLevel (the receiver-side audioLevel works fine). As long as audioLevel works in legacy stats but not standard stats people have a reason not to switch. The [bug in question](https://bugs.chromium.org/p/chromium/issues/detail?id=736403) is currently starred by 39 people.

[2019-06-26 09:32] henbos commented on #391
We've said in the past "why don't people just use WebAudio" but people seem reluctant to do so, I want to implement this to unblock migration.

Tangent: With regards to people polling getStats() to the point of getting bad performance, I wonder if perhaps we should increase the cache time of getStats().

[2019-06-26 13:02] vr000m commented on #399
I dont see an issue with remoteSource as defined: "True if the source is remote, for instance if it is sourced from another host via an RTCPeerConnection. False otherwise."

[2019-06-26 13:07] vr000m commented on #391
I believe 'cache time of getStats()' is UA specific?

[2019-06-26 13:18] vr000m commented on #399
https://github.com/w3c/webrtc-stats/pull/148

[2019-06-26 13:24] henbos opened #452 "Add receiving "track" stats to the obsolete section"
Chrome implements receiving track attachments, there should be receiving track attachments in the obsolete section.

[2019-06-26 13:26] vr000m commented on #452
... because this is a copy of the receiver stats.

[2019-06-26 13:29] henbos opened #453 "Add remoteSource to "media-source""
There were two meansings of remoteSource discussed:
1. Was the track sourced from a peer connection or not?
2. Was the track on a sender or a receiver?

Part of #452 should be to cover 2). But @vr000m wants 1) to be an available stat; let's add this version of the metric to "media-source"

[2019-06-26 13:29] #399 closed

[2019-06-26 13:35] #434 closed

[2019-06-26 13:57] #439 closed

[2019-06-26 13:57] henbos commented on #439
I misunderstood the definition of the ssrc

[2019-06-26 13:58] henbos commented on #439
remote-inbound-rtp.ssrc == outbound-rtp.ssrc

[2019-06-26 13:59] karthikbr82 commented on #439
https://bugs.chromium.org/p/webrtc/issues/detail?id=10753

[2019-06-26 14:02] henbos opened #454 "Clarify that remote-[in/out]bound-rtp.ssrc refers to the localId's ssrc"

[2019-06-26 14:57] henbos commented on #391
It is, I'm not suggesting we standardize the cache time, but the thought occurred to me and I'm not sure we ever considered doing that.

[2019-06-27 16:13] vr000m commented on #393
Yes, the ultimate receiver is not aware of simulcast at all. All the switching between tracks at the SFU are hidden from the downstream receiver. To the receiver it is just one stream.

[2019-06-27 16:28] vr000m commented on #440
I am assuming that issue stems from the fact that at the output of the encoder, where the quality is measured, it is not clear what was the expectation from the bandwidth estimator nor that it was further limited by "cpu"?

In my mental model, the target quality (the input to the encoder) is set by the bandwidth estimator, and if the output comes out lower than the target (it is either due to "cpu

[2019-06-28 11:01] henbos commented on #440
I must admit that I don't know how the quality reason is determined, but what you write sounds very reasonable. I think there are problems in how these reasons are related though.

Any given point in time you might limit limit quality because of a reason. Assuming there are multiple reasons at this point in time, which reason is reported first would be implementation-specific, so straight away we

[2019-07-01 09:46] vr000m opened #455 "Respec citing issues"
- Couldn't match "DOMHighResTimeStamp" to anything in the document or to any other spec. Please provide a data-cite attribute for it. at: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12.
- Couldn't match "rtcreceiveraudiotrackattachmentstats" to anything in the document or to any other spec. Please provide a data-cite attribute for it. at: 1.
- Couldn't match "rtcreceivervideotrackattachmentstats" to anythi

[2019-07-01 15:12] henbos commented on #455
I tried to look in to this but I'm having trouble running the check locally on my mac

[2019-07-01 15:13] #449 closed

[2019-07-01 15:28] henbos commented on #455
In webrtc-pc I am able to run `sudo make check`.

In webrtc-stats I get:
[code]
Even though `cmake --version` shows I have version 3.13.3. `make travissetup` and `nvm install lts/*` doesn't help. I tried to clone and build htacg/tidy-html5 separately too.

[2019-07-01 21:20] karthikbr82 commented on #455
made a PR that fixes most of the respec issues - https://github.com/w3c/webrtc-stats/pull/456

[2019-07-01 21:22] karthikbr82 opened #457 "Definitions missing - rtcreceiveraudiotrackattachmentstats and rtcreceivervideotrackattachmentstats"
Definitions are missing for these two dictionaries
1. rtcreceiveraudiotrackattachmentstats
2. rtcreceivervideotrackattachmentstats

[2019-07-02 11:22] stefhak opened #458 "Clarify period for framesDropped / FramesLost"
The spec text talks about `total number of frames` and `cumulative number of partial/full frames`; total/cumulative hints measuring period would be 'since receiver was created', however RFC7004 appendix A is referenced, and RFC7004 references RFC3611 for `begin_seq` and `end_seq`.

I think this should be clarified.

[2019-07-05 13:38] lgrahl commented on #377
Sorry, too busy with other work.

[2019-07-17 12:38] #455 closed

[2019-07-17 12:40] vr000m commented on #458
We should reference Sections A.g, h, i, j..

Basically,
[code]

[2019-07-17 12:46] vr000m commented on #458
In RTP the frames can be identified from the fragemented packets.
All packets have the same RTP Timestamp, they should be contiguous sequence numbers, the last packet in the frame has the market bit set.

IIRC, the begin_seq and end_seq in RFC7004 are more important for the other metrics being reported in the packet (namely burst/gap metrics).

[2019-07-17 13:29] vr000m commented on #438
@pallab-gain could you look at this...

there is already a metric at the RTP level that can be adapted for the ICE Candidate

[2019-07-17 13:31] vr000m commented on #438
Please make sure that the text explicitly either includes or excludes the RTP-level metric.

[2019-07-17 13:33] vr000m commented on #432
@mvarela do you have thoughts on this, since you are working on the opus quality model.

[2019-07-17 13:33] vr000m commented on #426
@pallab-gain PTAL.

[2019-07-17 13:37] vr000m commented on #425
@karthikbr82 PTAL.

[2019-07-17 13:45] vr000m commented on #402
How do we resolve this one, @henbos -- quite a few stats depend on this issue.

[2019-07-17 13:48] vr000m commented on #356
@youennf could you PTAL at this issue and create a PR?

[2019-07-17 14:50] youennf commented on #356
Will do, thanks for the reminder!

[2019-07-17 15:43] stefhak commented on #458
I did parse the definitions, but I find them hard to use since I don't know what `the above sequence number interval` is. Basically I had expected x_lost_frames to be stable or increasing over a session but was surprised to find out that they can go up and down (e.g. getting a sequence like 1, 0, 1, 0 , 2, ... when sampling every n seconds) during a session when I did a small test.

[2019-07-18 10:38] vr000m commented on #458
I agree that we should make clear that this is not an interval metric but the start from the appearance of the Receiver.

@stefhak: For the XR in RFC7004 what was the setting for the I (interval flag).

[code]

[2019-07-18 13:58] henbos commented on #402
I might be able to take a stab at it before next meeting, but I can't promise anything, I'm trying to ramp up on a new project. Otherwise do we have anyone on your side that can take it?

[2019-07-18 18:14] youennf commented on #356
There are potential slight differences between the deleted candidate value definition and the definition of when a candidate is deleted as per https://w3c.github.io/webrtc-stats/#dom-rtcstatstype-local-candidate.

In theory, an ICE transport could free the candidate when it is not used by the selected candidate pair.
The same could apply to a candidate pair that 'disappears' before an ICE restart

[2019-07-18 21:12] youennf commented on #357
Wrote https://github.com/w3c/webrtc-stats/pull/459 when noticing this undefined objectDeleted notion in the spec.

[2019-07-24 08:56] vr000m commented on #356
@youennf Are you asking how to mark unselected by successful ice-candidate-pairs?

[2019-07-24 09:16] vr000m commented on #457
Inbound stats refers to --- "The identifier of the stats object representing the receiving track, an RTCReceiverAudioTrackAttachmentStats or RTCReceiverVideoTrackAttachmentStats." @henbos should be able to comment on this... since he is changing the inheritance structure of the dictionaries.

[2019-07-24 14:06] vr000m commented on #403
We probably to discuss replaceTrack and onstatsended but also to discuss if the trackattachment stats  are needed and instead rely on track stats.

cc: @henbos @pallab-gain @karthikbr82

[2019-07-24 14:13] henbos commented on #403
If "onstatsended" fires for the track attachment we could do getStats() to get outbound-rtp values at the time of the event, though it wouldn't be a perfect snapshot because the counters in the outbound-rtp might keep increasing.

[2019-07-24 14:13] henbos commented on #403
Let's discuss further when #463 has landed

[2019-07-25 08:14] chemmagate opened #465 "Measuring background noise (energy)"
As more and more offices are adopting open work places, it is important to measure the background noise in open office environments and measure the effect on real-time communication. Is it possible for browsers to measure this metric?

[2019-07-31 19:02] vr000m commented on #465
@henbos Is the browser able to tell the difference between speaking and non-speaking audio energy?

[2019-07-31 20:30] aboba commented on #465
@vr000m Lots of ML work on separating "noise" from speakers.  For example, see:
https://devblogs.nvidia.com/nvidia-real-time-noise-suppression-deep-learning/

Related: Issue https://github.com/w3c/webrtc-stats/issues/383

[2019-08-02 06:29] mvarela commented on #432
It would be useful to have the information, of course.

[2019-08-14 11:47] vr000m opened #467 "Deleted was removed in #462, was not added to Obsolete section"
@youennf could you fix this, i.e., update the obsolete stats section  with the changes made in #462 ?

[2019-08-14 11:54] vr000m opened #468 "New Respec issues"
Failed to parse WebIDL: Bodyless dictionary. at: 1.
Details
Failed to parse WebIDL: Bodyless dictionary. at: 1.
Details
The term "boolean" is defined in infra, webidl in multiple ways, so it's ambiguous. See how to cite to resolve the error at: 1, 2.
The term "boolean" is defined in infra, webidl in multiple ways, so it's ambiguous. See how to cite to resolve the error at: 1.
The term "boolean" is

[2019-08-14 12:38] henbos commented on #402
With #463 and #466, this is now fixed.

[2019-08-14 12:38] #402 closed

[2019-08-14 12:48] henbos commented on #468
I merged the other PR and get this on tip-of-tree, oops:

😱 ReSpec error: Multiple `<dfn>`s for `framesDecoded` in `RTCInboundRtpStreamStats`
😱 ReSpec error: Multiple `<dfn>`s for `framesDecoded` in `RTCInboundRtpStreamStats`
😱 ReSpec error: Failed to parse WebIDL: Bodyless dictionary. at: [1](#respec-offender-bodyless-dictionary).

<details><pre>Syntax error at line 1 in 40, since `partial dictio

[2019-08-14 13:07] henbos commented on #468
I merged the above PR, Travis now appears to pass: https://travis-ci.com/w3c/webrtc-stats/builds/123220395

So I guess we can close this issue? Thought I don't recognize the errors you describe above about boolean and record - is this still an issue?

[2019-08-14 13:14] henbos commented on #468
Looks like it's working locally as well, I'm closing this one, feel free to re-open

[2019-08-14 13:14] #468 closed

[2019-08-14 13:27] youennf commented on #467
Was @deleted shipped in any browser?
If so, that makes sense to add it to the obsolete stats section and probably add a corresponding WPT history test.
Otherwise, is it really worth adding a note?

[2019-08-14 13:32] henbos opened #470 "RTCMediaStreamStats can be made obsolete"
Now that things have been moved to "outbound-rtp" and "inbound-rtp", "track" stats makes less sense, and "stream" stats less so since its a list of trackIds.

We could replace the dictionary by streamIdentifiers on the "sender" and "receiver"

[2019-08-14 14:01] henbos opened #471 "Rethinking "sender" and "receiver" stats"
Now that everything is in "outbound-rtp" and "inbound-rtp", the "sender" and "receiver" (and "track") stats is based on a hierarchy of mostly empty dictionaries with some ID references.

We can simplify this:
- RTCMediaHandlerStats can contain "kind" and "mid", and for backwards compatibility with "track" stats have "remoteSource" in the obsolete section. It can also have an array of "streamIdenti

[2019-08-14 14:02] henbos commented on #471
This removes the need for different dictionaries for Audio and Video cases.

[2019-08-14 14:03] vr000m opened #472 "Issues with replaceTrack, will statsended fire or give me what I want."
With all the changes to track attachment stats, we are close to deprecating it. May be we should not.

My use-case of replaceTrack switching from camera to screenshare, this does not fire an event on the peerconnection. We kind of solved this issue with `onstatsended` event returning the stats of track that was being replaced. however, with the recent changes, if we get rid of the empty dictionari

[2019-08-14 14:04] vr000m commented on #471
Affects #396

[2019-08-16 09:23] henbos commented on #445
The codec objects are still there (both in stats and parameters), what you don't know is what other encoder/decoder implementations, but probing implementation capabilities prior to usage belong to a different API than getStats().

[2019-08-16 11:10] henbos commented on #445
I'll make a PR that allows me to land [this CL](https://webrtc-review.googlesource.com/c/src/+/149168) to expose this information in Chrome.

[2019-08-16 11:32] alvestrand commented on #445
Moving them as indicated sounds reasonable to me.

[2019-08-16 14:07] #445 closed

[2019-08-19 12:23] henbos opened #474 "Add metric for ICE reroutes"
High number of ICE restarts positively correlate with bad network/quality, and would be a useful metric to have.

An ICE reroute is when the ICE candidate pair changes. I propose adding:

[2019-08-19 13:28] alvestrand commented on #474
Nit: I think it positively correlates with bad network quality.... at least I hope so.
Since ICE restarts are an application function, the number of restarts depends on application logic, so it's not clear that it makes sense to count them.

Changes of the selected candidate pair (which can only happen under continuous renomination, which is an ICE extension) absolutely make sense to count.

[2019-08-19 13:33] jonasoreland commented on #474
Correct.
s/ICE restarts/ICE reroutes/ in text above.
But the error is only in the issue...

[2019-08-19 14:33] alvestrand commented on #471
Is this an user visible change?

[2019-08-19 14:34] alvestrand commented on #396
MID is a transceiver property. Shouldn't it be enough to have it in transceiver stats?
Do we have any transceiver stats?

[2019-08-19 14:50] henbos commented on #471
Anything useful about these dictionaries are in the obsolete section. Simplifying the dictionaries is purely editorial and not user visible (this issue), however the need for "sender"/"receiver"/"track" stats is questioned now that anything useful about a "track" is its _Obsolete_ stats (#472)

[2019-08-19 15:12] henbos commented on #472
Some possible ways forward:
1. Don't have an event that fires because of replaceTrack; we can probably remove "onstatsended" completely.
2. Have an event that fires due to replaceTrack, but make it clear that this is what it really does, since for your use case you would probably want to invoke getStats() anyway - what is of interest is not the ended stats per-se but the fact that a significant ev

[2019-08-20 12:01] alvestrand commented on #472
The reason for having "onstatsended" was to be able to put in specifications for objects where you couldn't get stats for them after they were gone. I think address pair stats after an ICE restart was the other classic case. So #1 is not of great benefit.

In general mediating "something significant happened" through stats indicates that we're lacking this capability elsewhere in the model, and we

[2019-08-21 13:06] #474 closed

[2019-08-26 16:32] ksridhar commented on #229
@henbos
[a] google-chrome --version yielded Google Chrome 73.0.3683.103
[b] lastPacketReceivedTimestamp does'nt seem to be present in RTCInboundRTPStreamStats. We badly need it in our application.
[c] Read from the spec that 'inbound-rtp : Statistics for an inbound RTP stream that is currently received with this RTCPeerConnection object. It is accessed by the RTCInboundRtpStreamStats.'
[d] Alas la

[2019-08-27 08:26] henbos commented on #229
@ksridhar lastPacketReceivedTimestamp was added in Chrome 75.0.3767.0 and is comparable to timestamp, both of which you can construct Date objects from, and should be easily comparable to current time.

[2019-08-27 08:32] ksridhar commented on #229
@vr000m @henbos
Thank you'll for the response.
Our use case requires us to capture the RTP timestamp when say a button is clicked. We are looking to use this (lastPacketReceviedTimestamp) to perform some work back at the streaming server end by transmitting this metric back to the server.
We are thus not aiming to poll getStats() rapidly.
We are ok with an error margin involved in capturing this m

[2019-08-27 08:46] henbos commented on #229
Sorry I just inspected lastPacketReceivedTimestamp on tip-of-tree and while it does increase correctly (goes up by one every second as long as it is receiving packets), it has a different offset than the RTCStats::timestamp. So the new Date(stats.lastPacketReceivedTimestamp) results in a time that is not comparable to new Date()... this is a bug (not sure if it regressed recently or if it was alwa

[2019-08-27 09:22] ksridhar commented on #229
@henbos

Thank you once again.
Pardon me for seeking some clarification.

The [spec](https://www.w3.org/TR/webrtc-stats/#dom-rtcinboundrtpstreamstats-lastpacketreceivedtimestamp) says
[code]
Now what i can understand from this is
[a] ```lastPacketReceivedTimestamp``` is the time at which the RTP packet was received.
[b] ```timestamp``` is the time at which stats were generated (which would be >= `

[2019-08-27 09:36] henbos commented on #229
[RTCRtpReceiver.getSynchronizationSources](https://w3c.github.io/webrtc-pc/#dom-rtcrtpreceiver-getsynchronizationsources) exposes not only [timestamp](https://w3c.github.io/webrtc-pc/#dom-rtcrtpcontributingsource-timestamp) but [rtpTimestamp](https://w3c.github.io/webrtc-pc/#dom-rtcrtpcontributingsource-rtptimestamp). Unlike getStats(), this API can be polled frequently without performance concern

[2019-08-27 09:47] ksridhar commented on #229
Oh! Thanks a lot. i was missing this totally and was searching for it in getStats(). In this context i think that your [bug] (https://crbug.com/webrtc/10919) holds water. This is a lesson for me to read the spec thoroughly.

[2019-08-27 12:39] henbos opened #476 "Add counter for number of times resolution changes"
The spec allows us to see if and why we are resolution limited ([qualityLimitationReason](https://w3c.github.io/webrtc-stats/#dom-rtcoutboundrtpstreamstats-qualitylimitationreason)) as well as how long we have been limited ([qualityLimitationDurations](https://w3c.github.io/webrtc-stats/#dom-rtcoutboundrtpstreamstats-qualitylimitationdurations)). We can also poll for resolution ([frameWidth/frameH

[2019-08-27 13:11] ksridhar commented on #229
While going through the spec for [rtpTimestamp](https://w3c.github.io/webrtc-pc/#dom-rtcrtpcontributingsource-rtptimestamp) i noticed the following
[code]
i think that the reference must point to [RFC3550](https://w3c.github.io/webrtc-pc/#bib-rfc3550)  which relates to RTP rather than [RFC3559](https://w3c.github.io/webrtc-pc/#bib-rfc3559) which relates to SNMP !
Hope i am not making a fool of mys

[2019-08-28 13:57] #476 closed

[2019-08-28 16:01] henbos commented on #229
Thanks I filed [an issue](https://github.com/w3c/webrtc-pc/issues/2281)!

[2019-08-29 13:21] henbos commented on #353
Now that we have "media-source" (pre-encoding), "outbound-rtp" (or sending "track" prior to moving stuff around) and "inbound-rtp" (or receiving "track") versions of these things I think we can close this issue.
- This is true for resolutions on every part of the pipeline (as was available in "goog" stats).
- This is true for the audio volume too of the track; if you want to know the volume prior

[2019-08-29 13:21] #353 closed

[2019-08-29 13:31] henbos commented on #356
This was fixed in #462

[2019-08-29 13:31] #356 closed

[2019-08-29 13:35] henbos commented on #357
This is no longer applicable

[2019-08-29 13:35] #357 closed

[2019-08-29 13:38] henbos commented on #358
Isn't this an implementation bug? It shouldn't recycle the stats ID if it is in fact a new candidate or pair. But yeah, the ufrag/pwd would help with that.

[2019-08-29 13:38] henbos commented on #358
A matter of perspective if the restarted pair is a new pair or the same pair if the addresses were the same?

[2019-08-29 13:44] henbos commented on #366
The section "Lifetime considerations for monitored objects" explains deleted, and the "RTCStatsType" section (and other places) calls out when deleted happens. I think we can close this issue as fixed.

[2019-08-29 13:44] #366 closed

[2019-08-29 13:46] henbos commented on #374
Do we need to revisit this issue now, or is the warning added in #380 enough?
Is this something we are hiding with mDNS?

[2019-08-29 13:48] henbos commented on #375
Correct me if I'm wrong @youennf , but this was fixed in #381 ? Closing

[2019-08-29 13:48] #375 closed

[2019-08-29 13:55] henbos commented on #391
Some things have been moved around recently, update:
We have totalAudioEnergy for the send-side on "media-source" and on the receive-side on "inbound-rtp" (or receiving "track" stats on obsolete implementations like Chrome). Same for audioLevel, which is "recent audio energy".

We can't rely on getSynchronizationSources() for send-side levels because this API only exists on the RTCRtpReceiver. If

[2019-08-29 13:57] henbos commented on #392
This has since been moved to the obsolete section, so it's only on the inbound-rtp now. I think we can close this issue?

[2019-08-29 13:57] #392 closed

[2019-08-29 15:18] henbos commented on #393
@vr000m Is there anything to be done here for TPAC?

[2019-08-29 15:28] henbos opened #478 "Should we have transceiver stats?"
We've had `sender` and `receiver` stats but no `transceiver` stats (and now almost everything has been moved to to the `outbound-rtp` and `inbound-rtp`).

Should we have `transceiver` stats?

Possible uses:
- `mid` is a property of the `RTCRtpTransceiver`
- Codecs that have been negotiated are on a per-m= section, i.e. per transceiver basis. `RTCCodecStats` could reference transceivers.

Both of t

[2019-08-29 15:30] henbos commented on #396
We don't have any transceiver stats and there would be little use for them, but at the moment there is not much more use for sender/receiver stats than transceiver stats. I filed #478

[2019-08-29 15:32] henbos commented on #397
What's the definition for framesDiscardedOnSend? Is this ready for PR now? Adding the label, feel free to remove it.

[2019-08-29 15:37] henbos commented on #401
@aboba @Orphis We ICE-boxed this issue a while a go, but there has been plenty of SVC work recently. Is SVC stats something that we should revisit? TPAC could be a time to discuss this? Adding the label without having any suggestions yet or knowing if I'll talk about it. Feel free to take it on

[2019-08-29 15:38] henbos commented on #403
#463 has landed

[2019-08-29 15:42] henbos commented on #423
Given that we now have [totalEncodedBytesTarget](https://w3c.github.io/webrtc-stats/#dom-rtcoutboundrtpstreamstats-totalencodedbytestarget) and you can calculate bitrate from it (e.g. totalEncodedBytesTarget/s by doing delta bytes divided by delta timestamp), I propose we simply move this stat to the obsolete section; it was never implemented by Chrome.

[2019-08-29 16:06] henbos commented on #478
Another thing that would be useful on the transceiver stats:
- direction
- currentDirection

[2019-08-29 16:21] henbos opened #479 "Move "track" stats to the obsolete section"
After moving everything significant from `track`/`sender`/`receiver` to `outbound-rtp` and `inbound-rtp` there is little use for track attachment stats, or even sender/receiver stats.

[code]

"mediaSourceId", "trackIdentifier" and "kind" already exists on `outbound-rtp` and `inbound-rtp`, these are not needed.

Sender-side: "ended" should probably move to `media-source` since this is a stat about

[2019-08-29 16:29] henbos commented on #479
TL;DR action items unless an argument is made for keeping them:
- Move all the track/sender/receiver related dictionaries (the whole hierarchy) to the obsolete section. For specific members, this means...
- Add "ended" to `media-source`, `inbound-rtp` and the obsolete section.
- Add "trackIdentifier" and "kind" to the obsolete section, these already exists in the *-rtp dictionaries and don't need

[2019-08-29 16:34] henbos opened #480 "What should we do about onstatsended?"
Now that there is little point to having track/sender/receiver stats dictionaries around because all their members are made obsolete (#479), it seems that the only use case for them are having objects that would trigger `onstatsended`.

So what is the use case for `onstatsended`? Well, it's nice to know if replaceTrack() was called so that you can correlate stats changing with that point in time.

[2019-08-29 16:35] henbos commented on #480
@vr000m

[2019-08-29 16:35] henbos commented on #479
Another use case of track attachment stats are not the stats themselves but the fact that they trigger `onstatsended`, see #480 for what to do about that...

[2019-08-29 16:36] henbos commented on #403
I just filed #479 arguing for the removal of these dictionaries. I think "what to do about onstatsended?" should be discussed in a separate issue, so I filed #480.

With those two issues, I think we can close this issue as having been split up into two issues. Feel free to object.

[2019-08-29 16:36] #403 closed

[2019-08-29 16:38] henbos commented on #478
See #479 for arguments about not having sender/receiver/track stats, which would make transceiver stats make more sense.

[2019-08-29 16:40] henbos commented on #479
One more thing, in the case of simulcast, there is still a point to be made about having sender - or transceiver (#478) - stats if they get a "mid" (#396) so that you can correlate which RTP streams belong to which sender/transceiver.

[2019-08-29 16:41] henbos commented on #396
There's also #479 for removing "sender" stats, though "mid" would be a reason for keeping them, unless we add "transceiver" stats.

[2019-08-29 16:46] henbos commented on #424
I think we should add receiver attachment stats to the obsolete section to reflect the fact that receiving "track" stats are implemented in Chrome. (Then, when we feel like going wild, we can move everything to the obsolete section #479 ;) )

[2019-08-29 16:49] henbos commented on #426
This is probably still worth doing. However, in Chrome remote-inbound-rtp reports are updated about once per second, so it feels like we'd have an estimate about as often as we poll getStats(), so there won't be much variety here, and thus less need for an accumulative counter. But having it would allow things like average RTT over a long period of time, such as last 10 s or entire call

[2019-08-29 16:49] henbos commented on #426
(Or perhaps it was every few seconds)

[2019-08-29 16:50] henbos commented on #427
Added the icebox label based on no activity and editors not having heard a compelling use case.

[2019-08-29 16:52] henbos commented on #430
@aboba Is this something you "want" to talk about at TPAC?

[2019-08-29 16:53] henbos commented on #432
@aboba Is this TPAC stuff or not?

[2019-08-29 16:53] henbos commented on #433
Is this ready for PR?

[2019-08-29 16:57] henbos commented on #438
The original issue #178 said to add this to the candidate pair due to this being the existing goog implementation, but it seems that the PR that resolved that issue added it to the RTP stream.

[2019-08-29 17:03] henbos commented on #472
Oops, I filed a duplicate issue here #480

[2019-08-29 17:22] juberti commented on #374
In the drive-by (mode 2) case where mDNS is used, we don't bind to a specific interface so I don't think this information is filled in (IOW, no action needed right now.) @tqsw to confirm.

[2019-08-30 12:43] youennf commented on #374
We probably want to discuss this issue in the joint session with the PING working group.

The spec does not say anything about this, this might be an additional improvement that could be added. That said, I am not sold on exposing this information, similarly to concerns with http://wicg.github.io/netinfo/#dom-networkinformation-type.

I believe this field could be removed from the spec, that would

[2019-08-30 17:51] vr000m commented on #432
This should be TPAC stuff

Founder, CEO, callstats.io ( http://callstats.io )
http://www.callstats.io

Interested in networking, media quality, and diagnostics.
We are hiring!: www.callstats.io/jobs/ ( http://www.callstats.io/jobs/ )

On Thu, Aug 29 2019 at 9:53 AM, < notifications@github.com > wrote:

[2019-08-30 19:49] aboba commented on #465
@vr00m @henbos Is this worth discussing at TPAC?

[2019-08-30 19:50] aboba commented on #432
@vr00m @henbos If you feel it would help to discuss it at TPAC, go ahead and mark it "TPAC 2019" and add slides to the deck, which is here: https://docs.google.com/presentation/d/1Xprz0ElNTUWRDdX6kyp11cZ4ItTvUFUmzoXsKZdXxuU/

[2019-09-02 16:43] henbos commented on #465
Implementations may be doing several things to improve quality, like echo cancellation, synthesizing samples to conceal packet loss, and noise suppression. Strategies are, however, implementation-specific. This can make standardizing metrics around it difficult.

We could add a metric to say that this is the implementation's estimate of the current background noise levels. But different implementa

[2019-09-03 14:19] Tilakv commented on #223
I am a bit not clear about googJitterBufferMs. We have a freeviewpoint streaming webrtc framework, and I have tested it over experimental network, and found out that the link attributes (changing the RTT of the link) affects the googJitterBufferMs and the googTargetDelayMs to the RTT of the link. The minimum googJitterBufferMs observed in this case was 40msec and increases to 60~70msec, when the l

[2019-09-04 15:29] henbos commented on #465
Action Item: Talk to an audio engineer to see if this is something that we could measure :)

[2019-09-04 15:46] henbos commented on #448
I propose we clarify the spec to say what the implementation does, but let's get an audio engineer to explain what makes more sense.

[2019-09-04 15:54] henbos commented on #454
CL: https://webrtc-review.googlesource.com/c/src/+/143484
Issue with discussions: https://bugs.chromium.org/p/webrtc/issues/detail?id=10753

[2019-09-04 15:56] henbos commented on #470
- Add streamIdentifiers to sender and receiver stats
- Move RTCMediaStreamStats to the obsolete section

[2019-09-05 16:17] henbos commented on #448
@ivocreusen Does it make sense to say that "a sample" refers to "a sample in all channels", i.e. if the number of channels is 2 and we receive a sample in each channel, we count this as 1 sample? Or would we ever have a different number of samples in different channels or need to tell the difference?

[2019-09-05 16:19] henbos commented on #452
Probably something to just fix before TPAC rather than talk about it, but it is related to other discussions at TPAC so I'm adding the label for now.

[2019-09-05 16:20] henbos commented on #457
This sounds like a symptom of #452, closing.

[2019-09-05 16:20] #457 closed

[2019-09-05 16:21] henbos commented on #452
Note to self: Make sure the issue in #457 is fixed as part of this.

[2019-09-05 16:24] henbos commented on #467
@youennf Yes this was shipped in Chrome. We only ever had non-deleted candidates show up in the stats, so this was hard-coded to always return false, but the metric is still exposed to the web.

[2019-09-05 16:26] henbos commented on #471
Let's revisit after TPAC...

[2019-09-06 15:08] henbos commented on #383
If we had the background audio level, could a meaningful "signal/noise ratio" be derived by dividing signal audio level (total - background noise level) by total audio level?

[2019-09-06 15:27] henbos commented on #401
@Orphis What are the metrics that would be of interest on a per-SVC layer basis?

[2019-09-10 09:19] henbos commented on #465
@ivocreusen Do we have any estimates of background noise that could be exposed as stats? E.g. totalBackgroundAudioEnergy that would be &lt;= [totalAudioEnergy](https://w3c.github.io/webrtc-stats/#dom-rtcinboundrtpstreamstats-totalaudioenergy)?

This is another issue I would like to talk to you about :)

[2019-09-10 10:44] ivocreusen commented on #465
I think that the hard part for a standardized metric for background noise
is defining what part of the signal is background and what part is not. We
do have a background noise estimate in the gain controller, but if we were
to standardize how it's computed we won't be able to easily make
changes/improvements (without adding unnecessary additional computations).

Would it be an option to have a bac

[2019-09-10 11:42] henbos commented on #465
I would propose the metric to be well defined in _what_ it is a measurement of (audio energy), without specifying _how_ the measurement is obtained. And then declare inaccurate estimates implementations bugs rather than spec bugs. Fingers crossed?

[2019-09-10 12:01] Orphis commented on #401
Some of the interesting metrics that immediately come to mind: bitrate, resolution and maybe framerate?
I'm not sure how framerate could be different from the "simulcast" level stats ; SVC is hard.

[2019-09-10 12:44] henbos commented on #377
Didn't we (Chrome) fix that?

[2019-09-10 13:22] henbos opened #483 "RTCTransportStats is missing iceState"
It seems odd to have dtlsState but not iceState. Let's add it.

[2019-09-10 13:35] fippo commented on #483
probably also add connectionState in the same PR?

[2019-09-10 13:42] henbos opened #484 "RTCPeerConnectionStats is missing state stats (connection, ice, gathering, signaling)"
[RTCPeerConnectionStats](https://w3c.github.io/webrtc-stats/#pcstats-dict*) does not contain PC state information.

- If we fix #483 we have iceState on a per-transport basis. Would it make sense to compute [iceConnectionState](https://w3c.github.io/webrtc-pc/#dom-peerconnection-ice-connection-state) and expose it on the PC level?
- Should we also expose [connectionState](https://w3c.github.io/web

[2019-09-10 13:43] henbos commented on #483
This is about the per-transport state. For peer connection states, I filed #484

[2019-09-11 22:01] vr000m commented on #465
This may work... assuming there are three classes of background noise detectors:

1. very aggressive -- these would have low tolerance and end up marking low noisy environments (and any thing above) as noisy.
2. very pessimistic -- these would have high tolerance and would mark very high noisy environments, if they are really bad estimators, they may never mark because noise and speech would be in

[2019-09-16 00:49] vr000m commented on #480
We removed 'deleted' in #356 and #462 (leaving it here if earlier changes are impacted.)

[2019-09-16 01:18] vr000m opened #486 "Some RTCSentRtpStreamStats should be moved to Outbound dictionary"
Base RTCSentRtpStreamStats should only contain measurements that can be sent over RTCP or that can be measured independently because these measurements should show up in remote Outbound `dictionary RTCRemoteOutboundRtpStreamStats : RTCSentRtpStreamStats`, which I dont think is possible for the following metrics.
[code]

fecPacketsSent might make sense as they can be independently measured by the t

[2019-09-16 01:28] vr000m commented on #423
@lennart-csio WDYT? remove this?

[2019-09-16 02:42] vr000m commented on #448
This probably needs some discussion at the TPAC. Would someone be able to champion this from Google, cc: @henbos?

[2019-09-16 02:47] vr000m commented on #448
Typically the packet size increase when you have multiple channels.

For example:
G.711, 8000 Hz,  8bits/sample and packetization interval of 20ms:
1. 1 channel is 160 samples. The packet size 160*8= 1280 bits
2. 2 channels is 320 sample. The packet size 320*8= 2560 bits

[2019-09-16 08:56] henbos commented on #448
I spoke with audio folks and we would always have samples for each channel. We might want per-channel stats in the future (e.g. what is the audio level in this channel versus that channel) but that would require multiple metrics and thus the existing ones are not good enough anyway. So to not break existing usage (and most of the time you don't care about per-channel), I've got a [slide](https://d

[2019-09-16 13:05] henbos commented on #423
The previous metric was under-specified and not implemented, and the new metric is well-defined and shipped ;)

[2019-09-16 14:24] #397 closed

[2019-09-16 14:25] #486 closed

[2019-09-16 14:26] #433 closed

[2019-09-16 14:33] #438 closed

[2019-09-16 14:36] henbos commented on #458
Fixed by #490

[2019-09-16 14:36] #458 closed

[2019-09-16 14:51] #444 closed

[2019-09-16 15:46] vr000m opened #496 "How do we handle overflow of metrics"
for example packetSent is represented by a 32-bit in RTP/RTCP. If it overflows does the webrtc-stats report:
1. keeps counting up, we are not limited in such cases we use "unsigned long long"
2. become undefined instead of reporting a constant over-range value.

[2019-09-17 00:17] alvestrand commented on #496
Local counters are under our control, we should just keep counting up.
Remote counters that are passed in RTCP are more of an issue - what do the IETF specs say?
Back of the envelope: For 1 Kbyte packets in a 10 Mbits/sec video RTP session, we'll have ~1K packets/second, so the 32-bit packet counter will wrap in 49 days - this is not totally unthinkable, but rare enough that it's not likely to sho